.portfolio-content-list {
    margin-right: -30px;
    margin-bottom: -30px;

    display: flex;
    flex-wrap: wrap;

}

.portfolio-content-list__item {
    margin-right: 30px;
    margin-bottom: 30px;

    flex-basis: calc(100% / 1 - 30px);

    transition: box-shadow 250ms var(--timing-function);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

    }

    @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);


    }

    @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);


    }
}


// .portfolio-content-list__item:nth-child(3n) {
//   margin-right: 0;
// }
// .portfolio-content-list__item:nth-last-child(-n + 3) {
//   margin-bottom: 0;
// }


.portfolio-content-list__dicor {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;

    border: 1px solid #eeeeee;
    border-top: none;


}


.portfolio-content-list__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: getColor('primary');
}


.portfolio-content-list__text {
    font-size: 16px;
    line-height: 1.87;

    color: getColor('secondary');


}


.portfolio-content-list__card-wrapper {
    position: relative;
    overflow: hidden;
}


.portfolio-content-list__cards-wrapper-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    padding: 63px 23px;

    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;


    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);


    .portfolio-content-list__item:hover &,
    .portfolio-content-list__item:focus & {
        transform: translateY(0);
    }
}




//  ! фильтрация карточек по кнопкам 


.card {

    transition: 0.5s all;
}


.anime {
    transform: scale(0);
    opacity: 0;
}

.hide {
    animation-name: hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes hide {
    0% {
        visibility: visible;
        height: 200px;
    }

    100% {
        visibility: hidden;
        width: 0;
        height: 0;
        max-width: 0;
        font-size: 0;
        margin: 0;
    }
}