h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

  .link {
      text-decoration: none;
  }

  .list {
      padding: 0;
      margin: 0;
      list-style: none;
  }