// @import '~node_modules/modern-normalize/modern-normalize.css';


// body {
//     background-color: #F5F5F5;

//     font-family: Roboto, sans-serif;
//     letter-spacing: 0.03em;
// }
// :root {
//     --accent-color:#2196F3;

//     --primary-color: #212121;
//     --secondary-color: #757575;
   
// }
// a {
//     text-decoration: none;
// }

// .list{
//     list-style: none;
// }