  :root {
    --primary-color: #212121;
    --secondary-color: #757575;

    --accent-color: #2196f3;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  }

  body {
    margin: 0;
    // background-color: #f5f5f5;

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
  }

  // Reset

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }

  //// 
  .container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    width: 1200px;

    // outline: 2px solid tomato;
  }

  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .link {
    text-decoration: none;
  }

  .list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  // Header //


  .logo {
    color: var(--accent-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
  }

  .header-logo-col {
    color: #000000;
  }

  .header-main-nav {
    display: flex;

  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-nav-list {
    display: flex;
    margin-left: 93px;

  }

  .header-address {
    display: flex;
    align-items: center;
    margin-left: auto;

  }

  .header-address-link {
    display: flex;
    align-items: center;

  }


  .header-item:not(:last-child) {
    margin-right: 50px;
  }

  .header-section {
    // border-bottom: 1px solid #000;
    border-bottom: 1px solid #ECECEC;
    padding-top: 25px;
    padding-bottom: 25px;
    // position: relative;

  }





  .header-link {

    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    position: relative;

    transition: color 250ms var(--timing-function);
  }

  .header-link:hover,
  .header-link:focus {
    color: var(--accent-color);

  }


  .focus-nav {
    color: var(--accent-color);

  }



  .focus-nav::after,
  .focus-nav-anim::after {
    position: absolute;
    content: '';
    background-color: var(--accent-color);
    display: block;


    border-radius: 2px;
    bottom: -1px;
    left: 0;

    width: 100%;
    height: 4px;

  }


  .focus-nav-anim::after {

    transform: scaleX(0);
    transition: transform 250ms var(--timing-function);
  }

  .focus-nav-anim:hover::after,
  .focus-nav-anim:focus::after {
    transform: scaleX(1);

  }



  .header-address-item:not(:last-child) {
    margin-right: 30px;

  }

  .header-address-link {

    color: var(--secondary-color);
    fill: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms var(--timing-function), fill 250ms var(--timing-function);
  }



  .header-icon-mail,
  .header-icon-phone {

    margin-right: 10px;


  }


  .header-address-link:hover,
  .header-address-link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);

  }

  //! Hero//


  .overlay {

    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url('../images/bg-st.jpeg');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }


  .hero-container {


    padding-top: 200px;
    padding-bottom: 200px;


    text-align: center;

  }



  .hero-title {

    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    // text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  .hero-btn {

    min-width: 216px;
    height: 50px;

    border: none;

    display: inline-block;

    border-radius: 4px;
    padding: 10px 32px;


    background-color: var(--accent-color);
    color: #ffffff;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    text-align: center;

    cursor: pointer;

    transition: box-shadow 250ms var(--timing-function);



  }

  .hero-btn:hover,
  .hero-btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    animation-play-state: paused;


  }




  //! features

  // .features {

  // }


  .feature-itam {
    max-width: 270px;
  }

  .feature-itam-icon {
    width: 270px;
    height: 120px;

    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;


    border-radius: 4px;
    background: #F5F4FA;


  }


  .features-list {
    display: flex;
    justify-content: space-between;

    margin-top: 0;
    margin-bottom: 0;
  }

  .features-title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  .features-text {
    color: var(--secondary-color);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  // Занятость  employment //

  .employment {
    padding-top: 0;
  }

  .employment-list {
    display: flex;
    justify-content: space-between;
  }

  .employment-title {
    margin-bottom: 50px;

    color: var(--primary-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }

  .employment-itam {

    position: relative;


  }



  .employment-text {
    padding-top: 27px;
    padding-bottom: 27px;

    width: 100%;
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
  }


  // .employment-text {
  //    width: 370px;
  //     height: 70px;

  //   position: absolute;
  //   bottom: 0;

  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   background-color: rgba(47, 48, 58, 0.8);

  // }


  //team//

  .team {
    background-color: #f5f4fa;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;


  }

  .team-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-top: 30px;
    margin-left: 30px;



    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  .team-title,
  .clients-title {
    margin-bottom: 50px;
    color: var(--primary-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }



  .team-item-bottom-decor {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .team-employee-name {
    margin-bottom: 10px;

    color: var(--primary-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }

  .team-employee-position {


    color: var(--secondary-color);

    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }

  .team-item:last-child>.team-employee-position {
    margin-bottom: 0;
  }


  .team-list-icon {

    display: flex;
    justify-content: center;
    margin-top: 16px;


  }

  .team-item-icon+.team-item-icon {
    margin-left: 10px;

  }

  .team-item-icon {
    width: 44px;
    height: 44px;

  }

  .team-link-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 250ms var(--timing-function);

  }

  .team-link-icon:hover,
  .team-link-icon:focus {
    background: var(--accent-color);

  }

  .team-icon-social {

    fill: #afb1b8;
    transition: fill 250ms var(--timing-function);
  }

  .team-link-icon:hover .team-icon-social,
  .team-link-icon:focus .team-icon-social {
    fill: #FFFFFF
  }



  // clients

  .clients-title {
    margin-bottom: 50px;
    color: var(--primary-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }

  .clients-list {

    display: flex;

    justify-content: space-between;

  }

  .clients-item {
    width: 170px;
    height: 92px;



    fill: #afb1b8 // outline: 2px solid rgb(255, 0, 174);
  }

  .clients-link-icon {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;


    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: border 250ms var(--timing-function);
  }

  .clients-icon-logo {
    fill: #afb1b8;

    transition: fill 250ms var(--timing-function);
  }

  .clients-link-icon:hover,
  .clients-link-icon:focus {
    border: 1px solid var(--accent-color);

  }

  .clients-link-icon:hover .clients-icon-logo,
  .clients-link-icon:focus .clients-icon-logo {
    // border: 1px solid #0037ff;
    fill: var(--accent-color);

  }

  //! footer//

  .footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
  }

  .footer {
    background: #2f303a;
  }

  .footer-logo-col {
    color: #ffffff;
  }

  .footer-address {
    font-style: inherit;
  }

  .footer-address-link {
    color: rgba(255, 255, 255, 0.6);

    // font-style: normal;
    font-size: 14px;
    line-height: 1.71;
  }

  .footer-link-physical-address {
    display: block;
    margin-top: 20px;

    color: #ffffff;
  }

  .footer-item {
    margin-top: 9px;
  }

  .social-footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  .social-footer-section {
    margin-left: 70px;
    display: block;
  }

  .social-footer-section-list {
    width: 206px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .footer-item-icon {
    width: 44px;
    height: 44px;

  }

  .footer-link-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);

    transition: background 250ms var(--timing-function);
  }


  .footer-link-icon:hover,
  .footer-link-icon:focus {
    background: var(--accent-color);
  }

  .footer-icon-social {
    fill: var(--accent-color)
  }




  // !FOOTER FORM

  .footer-form-section {
    margin-left: 93px;

  }

  .footer-form-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

  }

  .footer-form-email {
    margin-top: 20px;

    width: 358px;
    height: 50px;

    font-size: 16px;
    line-height: calc(20 / 16);

    letter-spacing: 0.03em;

    padding: 16px;


    border: none;
    outline: none;

    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;



    transition: border-color 250ms var(--timing-function);
  }

  .footer-form-email::placeholder {
    color: rgba(255, 255, 255, 0.4);
  }

  .footer-form-email:focus {
    border-color: var(--accent-color);
  }

  .footer-form-btn-submit {
    margin-left: 12px;

    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;

    border: none;
    cursor: pointer;

    color: #FFFFFF;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: transform 100ms var(--timing-function);


  }

  .footer-form-btn-submit:active {
    transform: translate(0em, 0.1em);
  }

  .footer-form-field {
    display: flex;
    align-items: baseline;
  }


  .footer-form-btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-icon-fly {
    margin-left: 10px;
  }



  //! Втрая страница Портфолио//

  .portfolio-nav-list {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
  }

  .portfolio-nav-itam:not(:last-child) {
    margin-right: 8px;
  }

  .portfolio-nav-btn {
    border-color: transparent;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 75px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;

    background: #f5f4fa;

    cursor: pointer;
    border-radius: 4px;

    transition: background-color 250ms var(--timing-function),
      color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  }

  .portfolio-nav-btn:hover,
  .portfolio-nav-btn:focus {
    background-color: var(--accent-color);
    color: #ffffff;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);

  }

  .focus-btn {
    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  //! Карточки

  .portfolio-content-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }

  .portfolio-content-itam {
    flex-basis: calc(100% / 3 - 30px);

    margin-right: 30px;
    margin-bottom: 30px;

    transition: box-shadow 250ms var(--timing-function);
  }



  .portfolio-content-itam:hover,
  .portfolio-content-itam:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

  }

  // .portfolio-content-itam:nth-child(3n) {
  //   margin-right: 0;
  // }
  // .portfolio-content-itam:nth-last-child(-n + 3) {
  //   margin-bottom: 0;
  // }

  .portfolio-content-dicor {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    border: 1px solid #eeeeee;
    border-top: none;

    border: 1px solid #eeeeee;
    border-top: none;
  }




  .portfolio-content-title {
    color: var(--primary-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
  }


  .portfolio-content-text {


    color: var(--secondary-color);

    font-size: 16px;
    line-height: 1.87;
  }




  .portfolio-card-wrapper {
    position: relative;
    overflow: hidden;
  }

  .portfolio-text-cards {
    position: absolute;


    padding: 63px 23px;

    top: 0;
    left: 0;
    height: 100%;
    transform: translateY(100%);

    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;

    transition: transform 250ms var(--timing-function);


    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);

  }

  .portfolio-content-itam:hover .portfolio-text-cards,
  .portfolio-content-itam:focus .portfolio-text-cards {
    transform: translateY(0);
  }

  //! МОДАЛКА

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 1;
    // background-color:rgba(0, 0, 0, 0.2);
    background-color: rgba(21, 18, 189, 0.581);

    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);


    ;
  }

  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

  }

  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(2);


  }

  .modal {

    position: absolute;
    top: 50%;
    left: 50%;
    display: block;

    width: 528px;
    height: 581px;

    // padding: 8px;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);

    transition: transform 250ms var(--timing-function);

  }

  .modal-btn-clos {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;



    width: 35px;
    height: 35px;
    border-radius: 50%;



    background-color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

  }

  .modal-icon-clos {
    transition: fill 250ms var(--timing-function);

  }

  .modal-btn-clos:hover .modal-icon-clos,
  .modal-btn-clos:focus .modal-icon-clos {

    fill: var(--accent-color);

  }

  //! ОФОРМЛЕНИЕ МОДАЛКИ

  textarea {
    resize: none;
  }

  .modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
  }

  .form {
    padding: 40px;
  }

  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    position: relative;

  }

  .modal-form-label {

    font-size: 12px;
    line-height: 1.16;

    color: var(--secondary-color);
    letter-spacing: 0.01em;

  }

  .modal-inp {
    width: 100%;
    height: 40px;
    padding-left: 42px;

    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    margin-top: 4px;

    cursor: pointer;

  }

  .form-field input {
    transition: border-color 250ms var(--timing-function);
  }

  .form-field input:focus {
    border-color: var(--accent-color);
  }

  .form-comment {
    width: 100%;
    height: 120px;

    margin-bottom: 10px;
    padding: 12px 16px;

    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms var(--timing-function)
  }

  .form-comment:focus {
    border-color: var(--accent-color);
  }



  .form-comment::placeholder {
    color: rgba(117, 117, 117, 0.5);

  }

  .form-checkbox {
    margin-bottom: 30px;

  }

  .form-btn-submit {

    margin: 0 auto;
    width: 200px;
    height: 50px;


    margin-top: 15px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;


    background: #188CE8;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;



    transition: box-shadow 250ms var(--timing-function), transform 100ms var(--timing-function);

  }


  .form-btn-submit:hover,
  .form-btn-submit:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);



  }

  .form-btn-submit:active {
    transform: translate(0em, 0.1em);
  }


  .modal-icon-form {
    position: absolute;
    top: 50%;
    left: 15px;

    transition: fill 250ms var(--timing-function)
  }

  .modal-inp:focus+.modal-icon-form {
    fill: var(--accent-color);

  }


  .modal-form-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);

  }

  .check-text-link {
    color: var(--accent-color);
    font-size: 14px;
    line-height: 1.71;
    /* identical to box height, or 171% */

    letter-spacing: 0.03em;
  }

  .modal-form-checkbox-label {

    font-size: 14px;
    line-height: calc(24 / 14);


    letter-spacing: 0.03em;
    color: var(--secondary-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .modal-icon-checkbox {
    position: absolute;

    top: 50%;
    left: 19px;

    transform: translateY(-50%);
  }

  .modal-icon-box {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 2px solid black;

    margin-right: 10px
  }

  .modal-form-checkbox:checked+.modal-icon-box {
    border-color: var(--accent-color);

    background-color: var(--accent-color);

    background-image: url(../images/icon/check-full.svg);
    background-size: contain;
    background-origin: border-box;
  }


  .form-btn {
    margin-bottom: 0;
  }



  //!СТРАНИЦА 3 КОНТАКТЫ//


  .animate__animated.animate__bounce {
    --animate-duration: 2s;
  }

  .contacts-title {


    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;




  }

  .btn-anim {
    position: relative;

    padding: 25px 50px;
    margin-left: 50px;

    text-align: center;
    font-weight: 700;
    font-size: 18px;

    cursor: pointer;

    border-radius: 20%;
    overflow: hidden;

    color: #2196f3;
    background-color: #09ff00;
    border: none;

    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);

  }

  .btn-anim::before {
    position: absolute;
    content: '';

    right: 20;

    display: inline-block;

    width: 20px;
    height: 20px;



    background-color: rgb(255, 0, 0);

    transition: transform 250ms var(--timing-function);
  }

  .btn-anim::after {


    position: absolute;
    content: '';

    right: 20;

    display: inline-block;

    width: 20px;
    height: 20px;

    background-color: rgb(255, 0, 200);
    transition: transform 250ms var(--timing-function);
    transform: translateY(-50px);
  }

  .btn-anim:hover::after {
    transform: translateY(0);
  }

  .btn-anim:hover::before {
    transform: translateX(45px);
  }

  .btn-anim:hover,
  .btn-anim:focus {
    background-color: #2196f3;
    color: #21f348;

  }




  // ! test-form
  /// олдскульный метод 

  .test-form-test {


    display: block;

    margin-top: 50px;
    margin-left: 300px;
    margin-right: 200px;

    border: 3px solid rgba(255, 6, 6, 0.985);

  }


  .test-form-field {
    position: relative;
    margin-bottom: 40px;

  }

  .test-form-label {
    position: absolute;

    top: 50%;
    left: 40px;

    transform: translateY(-50%);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .test-form-input:focus+.test-form-label,
  .test-form-input:not(:placeholder-shown)+.test-form-label {
    color: red;

    transform: translate(-75%, -300%);

  }

  .test-form-icon {
    position: absolute;

    top: 50%;
    left: 15px;

    transform: translateY(-50%);

  }

  .test-form-input:focus~.test-form-icon {
    fill: #00d9ff;

  }

  // .test-form-input:placeholder-shown {
  // background-color: rgb(9, 95, 255);
  // }

  .test-form-input {
    width: 200px;
    height: 50px;

    border-radius: 4px;
    padding-left: 40px;


  }

  //////! форма 2

  .test-form-test-2 {

    display: block;
    margin-top: 80px;
    margin-left: 300px;
    margin-right: 200px;
  }

  .test-form-field-2 {


    position: relative;
    margin-bottom: 40px;
  }

  .test-form-input-2 {

    width: 200px;
    height: 50px;

    border-radius: 4px;
    padding-left: 40px;
  }


  .test-form-label-2 {
    position: absolute;

    top: 50%;
    left: 40px;

    transform: translateY(-50%);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  .test-form-icon-2 {
    position: absolute;

    top: 50%;
    left: 15px;

    transform: translateY(-50%);

  }

  .test-form-field-2:focus-within>.test-form-label-2 {
    transform: translate(-75%, -300%);

  }

  .test-form-field-2:focus-within>.test-form-icon-2 {
    fill: #2196f3;
  }

  .test-form-input-2:focus+.test-form-label-2,
  .test-form-input-2:not(:placeholder-shown)+.test-form-label-2 {
    color: red;

    transform: translate(-75%, -300%);

  }

  // !<!--  инпут вложенный в метку избавляется от id

  .test-form-test-3 {

    display: block;
    margin-top: 80px;
    margin-left: 300px;
    margin-right: 200px;

  }

  .test-form-field-3 {


    position: relative;
    margin-bottom: 40px;
  }

  .test-form-input-3 {

    width: 200px;
    height: 50px;

    border-radius: 4px;
    padding-left: 40px;
    margin-bottom: 30px;
  }


  .test-form-label-3 {
    position: absolute;

    top: 50%;
    left: 40px;

    transform: translateY(-50%);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  .test-form-icon-3 {
    position: absolute;

    top: 50%;
    left: 15px;

    transform: translateY(-50%);

  }

  .test-form-field-3:focus-within>.test-form-label-3 {
    transform: translate(-75%, -300%);

  }

  .test-form-field-3:focus-within>.test-form-icon-3 {
    fill: #2196f3;
  }

  .test-form-input-3:focus+.test-form-label-3,
  .test-form-input-3:not(:placeholder-shown)+.test-form-label-3 {
    color: red;

    transform: translate(-75%, -300%);

  }


  // ! test-checkbodx

  .test-checkbox {
    margin: 200px;


  }

  .test-input-item {
    margin-bottom: 20px;
  }

  .test-input-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }

  .test-label-checkbox {
    display: flex;


    align-items: center;
  }

  .test-input-icon {
    margin-right: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 4px;



  }

  .test-input-checkbox:checked+.test-input-icon {
    border-color: var(--accent-color);
    background-color: rgb(255, 0, 0);

    background-image: url(../images/icon/check-full.svg);
    background-size: contain;
    background-origin: border-box;
  }





  //  ////////////////////////
  //   h1 {


  // animation-name: changeBgColor;
  //   animation-duration: 3000ms;
  //   animation-timing-function: linear;
  //   animation-iteration-count: infinite;
  //   animation-direction: alternate;

  //     text-align: center;
  //     font-size: 24px;
  //   }

  //     h1:hover {
  //       animation-play-state: paused;
  //     }



  //   .box {
  //     position: relative;
  //     width: 300px;
  //     height: 300px;
  //     margin-left: auto;
  //     margin-right: auto;
  //     background-color: #bdbdbd;
  //     box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  //       0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  //     overflow: hidden;
  //   }

  //   .box:hover .overlay {
  //     transition-duration: 500ms;
  //     transform: translatex(0);

  //     transition-delay: 500ms;
  //   }

  //   .overlay {

  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     background-color: #3f51b5;

  //     // transform: translatex(100%);
  //     transform: translateY(100%);


  //     transition: transform 250ms ease;
  //   }

  //   .overlay>p {
  //     color: #fff;
  //     padding: 10px;
  //     margin: 0;
  //     font-size: 18px;
  //   }

  //   .overlay code {
  //     display: inline-block;
  //     padding: 2px 4px;
  //     border-radius: 2px;
  //     background-color: #fff;
  //     color: #2a2a2a;
  //   }

  //   .box {

  //     width: 200px;
  //     height: 200px;
  //     border-radius: 10px;
  //     // background-color: tomato;
  //     box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  //       0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  //     /*  Задаём значения перехода  */
  //     transition-property: background-color, transform;
  //     transition-duration: 1000ms;
  //     transition-timing-function: ease;
  //     transition-delay: 0;
  //   }

  //   /* При ховере меняем значения анимируемых свойств */
  //   .box:hover {
  //     animation-name: changeBgColor;
  //       animation-duration: 3000ms;
  //       transform-origin: bottom right;

  //     // background-color: teal;
  //     transform: rotate(360deg);

  //   }

  //   @keyframes changeBgColor {
  //     0% {
  //       background-color: teal;
  //     }

  //     50% {
  //       background-color: orange;
  //     }

  //     100% {
  //       background-color: deepskyblue;
  //     }
  //   }