:root {
  --primary-color: #212121;
  --secondary-color: #757575;

  --accent-color: #2196f3;
}

body {
  margin: 0;
  // background-color: #f5f5f5;

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

// Reset
h1, h2, h3, h4, h5, h6, p {
  margin:0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding-left: 0;
list-style: none;
}

.container{
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;

  // outline: 2px solid tomato;
}

.section{
  padding-top: 94px;
  padding-bottom: 94px;

  // background-color: #2121213c;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

// Header //
.header-main-nav{
  display: flex;
  align-items: center;


}

.header-nav{
  display: flex;
  align-items: center;

}

.header-nav-list{
  display: flex;
  margin-left: 93px;
  // justify-content: center;
}


.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-section{
  border-bottom: 1px solid #000;
// padding-top: 25px;
// padding-bottom: 25px;
}
.header-logo-col {
  color: #000000;
}

.logo {
  color: var(--accent-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  text-decoration: none;



}

.header-link {
display: block;
  padding-top: 32px;
padding-bottom: 32px;
  color: var(--primary-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-address{
  display: flex;
  margin-left: auto;

}

.header-address-item:not(:last-child){
margin-right: 50px;
}

.header-address-link {

  color: var(--secondary-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #2196f3;
}

// hero//
.hero{
  text-align: center;
}

.hero-title {
  // color: #FFFFFF;
margin-top: 0;
margin-bottom: 30px;


  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  display: inline-block;

  
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;


  background-color: var(--accent-color);
  color: #ffffff;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 8;
  letter-spacing: 0.06em;
  text-align: center;

  cursor: pointer;
   
}

.hero-btn:hover,
 .hero-btn:focus {
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

//features



.features{
  padding-bottom: 0;
}

.features-hidden-title{
display: none;

}

.feature-itam{
  max-width: 270px;


}

.features-list{
display: flex;
justify-content: space-between;



  margin-top: 0;
  margin-bottom: 0;
}




.features-title {
  
  margin-top: 0;
margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  text-transform: uppercase;


}

.features-text {
  
  color: var(--secondary-color);

  font-size: 14px;
  line-height: 1,71;
  letter-spacing: 0.03em;

 
}

//employment//

.employment-list{
  display: flex;
  justify-content: space-between;
}

.employment-title {
margin-bottom: 50px;

  color: var(--primary-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
}

//team//
.team-list{
  display: flex;
    justify-content: space-between;

}
.team {

  background-color: #F5F4FA;
}

.team-title {

  margin-bottom: 50px;
  color: var(--primary-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
}

.team-img{
  margin-bottom: 30px;


}

.team-item{

  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}



.team-employee-name {
margin-bottom: 10px;

  color: var(--primary-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1, 18;
  text-align: center;
}

.team-employee-position {
margin-bottom: 30px;

  color: var(--secondary-color);

  font-size: 16px;
  line-height: 1, 18;
  text-align: center;
}
.team-item:last-child >
.team-employee-position {
  margin-bottom: 0;
}


// footer//
.footer-section{
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  background: #2f303a;
}

.footer-logo-col {
  color: #ffffff;
}

.footer-address {
  font-style: inherit;
}

.footer-address-link {
  color: rgba(255, 255, 255, 0.6);

  // font-style: normal;
  font-size: 14px;
  line-height: 1, 71;
}

.footer-link-physical-address {
  display: block;
margin-top: 20px;

  color: #ffffff;
}

.footer-item{
  margin-top: 9px;
}

//Втрая страница Портфолио//


.portfolio-nav-list{
display: flex;
justify-content: center;

margin-bottom: 50px;
}

.portfolio-nav-itam:not(:last-child){
  margin-right: 8px;

}

.portfolio-nav-btn {


  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 75px;



  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 6;
  text-align: center;

  background: #f5f4fa;

  cursor: pointer;
}

.portfolio-nav-btn:hover,
.portfolio-nav-btn:focus {


  background-color: var(--accent-color);
  color: #ffffff;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

//Карточки

.portfolio-content-list{
  display: flex;
  flex-wrap: wrap;


}

.portfolio-content-itam{
width: calc((100% - 60px) / 3);

  // width: 370px;

margin-right: 30px;
margin-bottom: 30px;

border: 1px solid #EEEEEE;
}

.portfolio-content-itam:nth-child(3n){
  margin-right: 0;
}

.portfolio-content-itam:nth-last-child(-n + 3){
  margin-bottom: 0;
}

.portfolio-img{
  margin-bottom: 20px;
}

.portfolio-content-title {
  margin-left: 24px;
  margin-bottom: 4px;


  color: var(--primary-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

.portfolio-content-text {
  margin-left: 24px;
margin-bottom: 20px;

  color: var(--secondary-color);

  font-size: 16px;
  line-height: 1, 87;
}



