<!-- Херед Навигация -->
<header class="header header-section">
  <div class="container header-main-nav">
    <nav class="header-nav">
      <a href="/" class="logo"
        >Web<span class="header-logo-col">Studio</span></a
      >

      <ul class="header-nav-list list">
        <li class="header-item">
          <a href="/" class="header-link focus-nav-anim link">Студія</a>
        </li>
        <li class="header-item">
          <a
            href="./portfolio-page.html"
            class="header-link focus-nav-anim link"
            >Портфоліо</a
          >
        </li>
        <li class="header-item">
          <a href="./contacts-page.html" class="header-link focus-nav link"
            >Контакти</a
          >
        </li>
      </ul>
    </nav>

    <ul class="header-address list">
      <li class="header-address-item">
        <a
          href="malto:info@devstudio.com"
          class="header-address-link link-address-email link"
        >
          <svg class="header-icon-mail" width="16" height="12">
            <use href="./images/icon/symbol-defs.svg#icon-envelope"></use>
          </svg>
          info@devstudio.com
        </a>
      </li>
      <li class="header-address-item">
        <a
          href="tel:+380961111111"
          class="header-address-link link-address-tel link"
          ><svg class="header-icon-phone" width="10" height="16">
            <use href="./images/icon/symbol-defs.svg#icon-smartphone"></use>
          </svg>
          +38 096 111 11 11</a
        >
      </li>
    </ul>
  </div>
</header>
<!-- Основной контент  -->
<main>
  <!-- hiro -->
  <section class="contacts-page section">
    <div class="container">
      <h1
        class="contacts-title animate__animated animate__pulse animate__infinite infinite"
      >
        Страница КОНТАКТЫ
      </h1>

      <!-- //////////////////////////// -->

      

    <!-- ///////////////////// -->
  </section>
</main>
<!-- Футер -->
<footer class="footer footer-section">
  <div class="container footer-container">
    <div class="footer-adress-tumb">
      <a href="/" class="footer-logo logo link"
        >Web<span class="footer-logo-col">Studio</span></a
      >
      <address class="footer-address">
        <ul class="footer-nav list">
          <li class="footer-item">
            <a
              href=""
              class="footer-link-physical-address footer-address-link link"
              >м. Київ, пр-т Лесі Українки, 26</a
            >
          </li>
          <li class="footer-item">
            <a href="malto:info@devstudio.com" class="footer-address-link link"
              >info@devstudio.com</a
            >
          </li>
          <li class="footer-item">
            <a href="tel:+380961111111" class="footer-address-link link"
              >+38 096 111 11 11</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="social-footer-section">
      <h2 class="social-footer-title">Приєднуйтесь</h2>

      <ul class="social-footer-section-list list">
        <li class="footer-item-icon">
          <a href="/" class="footer-link-icon link"
            ><svg class="footer-icon-social" width="20" height="20">
              <use href="./images/icon/symbol-defs.svg#instagram-footer"></use>
            </svg>
          </a>
        </li>
        <li class="footer-item-icon">
          <a href="/" class="footer-link-icon link"
            ><svg class="footer-icon-social" width="20" height="20">
              <use href="./images/icon/symbol-defs.svg#twitter-footer"></use>
            </svg>
          </a>
        </li>
        <li class="footer-item-icon">
          <a href="/" class="footer-link-icon link"
            ><svg class="footer-icon-social" width="20" height="20">
              <use href="./images/icon/symbol-defs.svg#facebook-footer"></use>
            </svg>
          </a>
        </li>
        <li class="footer-item-icon">
          <a href="/" class="footer-link-icon link"
            ><svg class="footer-icon-social" width="20" height="20">
              <use href="./images/icon/symbol-defs.svg#linkedin-footer"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
