<!-- Херед Навигация -->
<header class="header header-section">
  <div class="container header-main-nav">
    <nav class="header-nav">
      <a href="/" class="logo"
        >Web<span class="header-logo-col">Studio</span></a
      >

      <ul class="header-nav-list list">
        <li class="header-item">
          <a href="/" class="header-link focus-nav-anim link">Студія</a>
        </li>
        <li class="header-item">
          <a
            href="./portfolio-page.html"
            class="header-link focus-nav-anim link"
            >Портфоліо</a
          >
        </li>
        <li class="header-item">
          <a href="./contacts-page.html" class="header-link focus-nav link"
            >Контакти</a
          >
        </li>
      </ul>
    </nav>

    <ul class="header-address list">
      <li class="header-address-item">
        <a
          href="malto:info@devstudio.com"
          class="header-address-link link-address-email link"
        >
          <svg class="header-icon-mail" width="16" height="12">
            <use href="./images/icon/symbol-defs.svg#icon-envelope"></use>
          </svg>
          info@devstudio.com
        </a>
      </li>
      <li class="header-address-item">
        <a
          href="tel:+380961111111"
          class="header-address-link link-address-tel link"
          ><svg class="header-icon-phone" width="10" height="16">
            <use href="./images/icon/symbol-defs.svg#icon-smartphone"></use>
          </svg>
          +38 096 111 11 11</a
        >
      </li>
    </ul>
  </div>
</header>
<!-- Основной контент  -->
<main>
  <!-- hiro -->
  <section class="contacts-page section">
    <div class="container">
      <h1
        class="contacts-title animate__animated animate__pulse animate__infinite infinite"
      >
        Страница КОНТАКТЫ
      </h1>

      <!-- //////////////////////////// -->
      <button class="btn-anim">Переключатель</button>
      <!-- ///////////////////////////// -->
    </div>
<!--! ///// олдскульный метод оформления формы -->
    <form action="test-form-2" class="js-form-submit test-form-test">
      <div class="test-form-field">
        <input
          class="test-form-input"
          type="text"
          name="name"
          id="name"
          placeholder=" "
        />

        <label class="test-form-label" for="name">Имя</label>

        <svg class="test-form-icon" width="18" height="18">
          <use href="/./src/images/icon/modal-icon.svg#personal"></use>
        </svg>
      </div>

      <div class="test-form-field">
        <input
          class="test-form-input"
          type="email"
          name="mail"
          id="mail"
          placeholder=" "
        />
        <label class="test-form-label" for="mail">Почта</label>

         <svg class="test-form-icon" width="18" height="18">
          <use href="/./src/images/icon/modal-icon.svg#phone-blanc"></use>
        </svg>
      </div>
      </div>

      <button type="submit">Оставить заявку</button>
    </form>

  <!-- ! по современному метод 2 -->
   <form action="test-form-2" class="js-form-submit test-form-test-2" autocomplete="off">
      <div class="test-form-field-2">
         
        <input
          class="test-form-input-2"
          type="text"
          name="name"
          id="nname"
          placeholder=" "
        />
<label class="test-form-label-2" for="nname">Имя</label>
        <svg class="test-form-icon-2" width="18" height="18">
          <use href="/./src/images/icon/modal-icon.svg#personal"></use>
        </svg>
      </div>

      <div class="test-form-field-2">
         
        <input
          class="test-form-input-2"
          type="email"
          name="mail"
          id="email"
          placeholder=" "
        />
      
 <label class="test-form-label-2" for="email">Почта</label>
         <svg class="test-form-icon-2" width="18" height="18">
          <use href="/./src/images/icon/modal-icon.svg#phone-blanc"></use>
        </svg>
      </div>
      </div>

      <button type="submit">Оставить заявку</button>
    </form>

  <!-- ! инпут вложенный в метку избавляется от id -->

  <form action="test-form-3" class="js-form-submit test-form-test-3" autocomplete="off">


      <label class="test-form-field-3">
         
        <input
          class="test-form-input-3"
          type="text"
          name="name"
          placeholder=" "
        />

<span class="test-form-label-3">Имя</span>

        <svg class="test-form-icon-3" width="18" height="18">
          <use href="/./src/images/icon/modal-icon.svg#personal"></use>
        </svg>

      </label>

      <label class="test-form-field-3">
         
        <input
          class="test-form-input-3"
          type="email"
          name="mail"
          placeholder=" "
        />
      
 <span class="test-form-label-3">Почта</span>
         <svg class="test-form-icon-3" width="18" height="18">
          <use href="/./src/images/icon/modal-icon.svg#phone-blanc"></use>
        </svg>
      </label>
      </div>

      <button type="submit">Оставить заявку</button>
    </form>

<form action="test-checkbox" class="test-checkbox">
<ul>
  <li class="test-input-item">
  <label class="test-label-checkbox" for="html">
    <input class="test-input-checkbox" type="checkbox" name="topic" id="html">
     <span class="test-input-icon"></span>
    HTML
  </label>
    
  

  </li>

   <li class="test-input-item">
 <label class="test-label-checkbox" for="css">
  <input class="test-input-checkbox" type="checkbox" name="topic" id="css">
   <span class="test-input-icon"></span>
  CSS
</label>
    
  </li>
   <li class="test-input-item">
     <label class="test-label-checkbox" for="js">
       <input class="test-input-checkbox" type="checkbox" name="topic" >
       <span class="test-input-icon"></span>
      JavaScript</label>
   
  </li>
</ul>

</form>
    <!-- ///////////////////// -->  
  </section>
</main>
<!-- Футер -->
<!-- <footer class="footer footer-section">
  <div class="container footer-container">
    <div class="footer-adress-tumb">
      <a href="/" class="footer-logo logo link"
        >Web<span class="footer-logo-col">Studio</span></a
      >
      <address class="footer-address">
        <ul class="footer-nav list">
          <li class="footer-item">
            <a
              href=""
              class="footer-link-physical-address footer-address-link link"
              >м. Київ, пр-т Лесі Українки, 26</a
            >
          </li>
          <li class="footer-item">
            <a href="malto:info@devstudio.com" class="footer-address-link link"
              >info@devstudio.com</a
            >
          </li>
          <li class="footer-item">
            <a href="tel:+380961111111" class="footer-address-link link"
              >+38 096 111 11 11</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="social-footer-section">
      <h2 class="social-footer-title">Приєднуйтесь</h2>

      <ul class="social-footer-section-list list">
        <li class="footer-item-icon">
          <a href="/" class="footer-link-icon link"
            ><svg class="footer-icon-social" width="20" height="20">
              <use href="./images/icon/symbol-defs.svg#instagram-footer"></use>
            </svg>
          </a>
        </li>
        <li class="footer-item-icon">
          <a href="/" class="footer-link-icon link"
            ><svg class="footer-icon-social" width="20" height="20">
              <use href="./images/icon/symbol-defs.svg#twitter-footer"></use>
            </svg>
          </a>
        </li>
        <li class="footer-item-icon">
          <a href="/" class="footer-link-icon link"
            ><svg class="footer-icon-social" width="20" height="20">
              <use href="./images/icon/symbol-defs.svg#facebook-footer"></use>
            </svg>
          </a>
        </li>
        <li class="footer-item-icon">
          <a href="/" class="footer-link-icon link"
            ><svg class="footer-icon-social" width="20" height="20">
              <use href="./images/icon/symbol-defs.svg#linkedin-footer"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer> -->
