<!--! Херед Навигация -->
<header class="header header-section">
  <div class="container header-main-nav">
    <a href="/" class="logo"
      >Web<span class="header-nav__logo-color">Studio</span></a
    >

    <nav class="header-nav">
      <ul class="header-nav-list list">
        <li class="header-nav-list__item">
          <a href="/" class="header-nav-list__link focus-nav-anim link"
            >Студія</a
          >
        </li>
        <li class="header-nav-list__item">
          <a
            href="./portfolio-page.html"
            class="header-nav-list__link focus-nav link"
            >Портфоліо</a
          >
        </li>
        <li class="header-nav-list__item">
          <a
            href="./contacts-page.html"
            class="header-nav-list__link focus-nav-anim link"
            >Контакти</a
          >
        </li>
      </ul>
    </nav>

    <ul class="header-address-list list">
      <li class="header-address-list__item">
        <a
          href="malto:info@devstudio.com"
          class="header-address-list__link link-address-email link"
        >
          <svg class="header-address-list__icon-mail" width="16" height="12">
            <use href="./images/icon/symbol-defs.svg#icon-envelope"></use>
          </svg>
          info@devstudio.com
        </a>
      </li>
      <li class="header-address-list__item">
        <a
          href="tel:+380961111111"
          class="header-address-list__link link-address-tel link"
          ><svg class="header-address-list__icon-phone" width="10" height="14">
            <use href="./images/icon/symbol-defs.svg#icon-smartphone"></use>
          </svg>
          +38 096 111 11 11</a
        >
      </li>
    </ul>

    <!--?  мобильное меню ////////////////////// -->
    <div class="mob-menu-heder js-menu-container" id="mobile-menu">
      <div class="mob-menu-nav">
        <ul class="mob-menu-nav-list list">
          <li class="mob-menu-nav-list__item">
            <a href="/" class="mob-menu-nav-list__link link">Студія</a>
          </li>
          <li class="mob-menu-nav-list__item">
            <a href="./portfolio-page.html" class="mob-menu-nav-list__link link"
              >Портфоліо</a
            >
          </li>
          <li class="mob-menu-nav-list__item">
            <a href="./contacts-page.html" class="mob-menu-nav-list__link link"
              >Контакти</a
            >
          </li>
        </ul>
      </div>

      <div class="mob-menu-contacts">
        <ul class="mob-menu-contacts-list list">
          <li class="mol-menu-contacts-list__item">
            <a
              href="tel:+380961111111"
              class="mob-menu-contacts__link mob-menu-contacts__link-phone link"
              >+38 096 111 11 11</a
            >
          </li>
          <li class="mob-menu-contacts-list__item">
            <a
              href="malto:info@devstudio.com"
              class="mob-menu-contacts__link mob-menu-contacts__link-mail link"
              >info@devstudio.com</a
            >
          </li>
        </ul>

        <div class="mob-menu-social">
          <ul class="mob-menu-social-list list">
            <li class="mob-menu-social-list__item">
              <a href="" class="mob-menu-social__link link">Instagram</a>
            </li>
            <li class="mob-menu-social-list__item">
              <a href="" class="mob-menu-social__link link">Twitter</a>
            </li>
            <li class="mob-menu-social-list__item">
              <a href="" class="mob-menu-social__link link">Facebook</a>
            </li>
            <li class="mob-menu-social-list__item">
              <a href="" class="mob-menu-social__link link">LinkedIn</a>
            </li>
          </ul>
        </div>
      </div>
      <button type="button" class="mob-menu-btn-close js-close-menu">
        <svg width="40" height="40" aria-label="Кнопка закрытия мобильное меню">
          <use
            class="icon-menu-close"
            href="./images/icon/mob-menu.svg#menu-close"
          ></use>
        </svg>
      </button>
    </div>
    <div class="mobil-menu-btn-conteiner">
      <button
        type="button"
        class="mobil-menu-btn-open js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg
          width="40"
          height="40"
          aria-label="Кнопка открытия мобильного меню"
        >
          <use
            class="icon-menu-open"
            href="./images/icon/mob-menu.svg#menu-open"
          ></use>
        </svg>
      </button>
    </div>
    <!--? ///////////////////////////////////// -->
  </div>
</header>
<!--! Основной контент  -->
<main>
  <!-- ! hiro -->
  <section class="portfolio section">
    <div class="container">
      <h1 class="portfolio__title visually-hidden">Портфолио</h1>
      <!--! КНОПКИ НАВИГАЦИИ -->
      <ul class="portfolio-nav-list list">
        <li class="portfolio-nav-list__itam">
          <button
            class="portfolio-nav-list__btn focus-btnu -- button button_type_all"
            data-filter="all"
            type="button"
          >
            Усі
          </button>
        </li>
        <li class="portfolio-nav-list__itam">
          <button
            class="portfolio-nav-list__btn -- button button_type_cat"
            data-filter="cat"
            type="button"
          >
            Веб-сайти
          </button>
        </li>
        <li class="portfolio-nav-list__itam">
          <button
            class="portfolio-nav-list__btn -- button button_type_dog"
            data-filter="dog"
            type="button"
          >
            Додатки
          </button>
        </li>
        <li class="portfolio-nav-list__itam">
          <button
            class="portfolio-nav-list__btn -- button button_type_bird"
            data-filter="bird"
            type="button"
          >
            Дизайн
          </button>
        </li>
        <li class="portfolio-nav-list__itam">
          <button
            class="portfolio-nav-list__btn -- button button_type_web"
            data-filter="web"
            type="button"
          >
            Маркетинг
          </button>
        </li>
      </ul>
      <!--! portfolio -->
      <ul class="portfolio-content-list list">
        <li class="portfolio-content-list__item -- card cat">
          <a class="portfolio-content-list__link link" href="">
            <div class="portfolio-content-list__card-wrapper">
              <img
                class="portfolio-content-list__img test-photo"
                src="/./src/images/gallery/1-min.jpeg"
                alt="Веб-сайт"
              />
              <p class="portfolio-content-list__cards-wrapper-text">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
            <div class="portfolio-content-list__dicor">
              <h2 class="portfolio-content-list__title">Технокряк</h2>
              <p class="portfolio-content-list__text">Веб-сайт</p>
            </div>
          </a>
        </li>

        <li class="portfolio-content-list__item -- card bird">
          <a class="portfolio-content-list__link link" href="">
            <div class="portfolio-content-list__card-wrapper">
              <img
                class="portfolio-content-list__img"
                src="/./src/images/gallery/2-min.jpeg"
                alt="Постер New Orlean vs Golden Star"
              />
              <p class="portfolio-content-list__cards-wrapper-text">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>

            <div class="portfolio-content-list__dicor">
              <h2 class="portfolio-content-list__title">
                Постер New Orlean vs Golden Star
              </h2>
              <p class="portfolio-content-list__text">Дизайн</p>
            </div>
          </a>
        </li>
        <li class="portfolio-content-list__item -- card dog">
          <a class="portfolio-content-list__link link" href="">
            <div class="portfolio-content-list__card-wrapper">
              <img
                class="portfolio-content-list__img"
                src="/./src/images/gallery/3-min.jpeg"
                alt="Ресторан Seafood"
              />
              <p class="portfolio-content-list__cards-wrapper-text">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>

            <div class="portfolio-content-list__dicor">
              <h2 class="portfolio-content-list__title">Ресторан Seafood</h2>
              <p class="portfolio-content-list__text">Додаток</p>
            </div>
          </a>
        </li>
        <li class="portfolio-content-list__item -- card web">
          <a class="portfolio-content-list__link link" href="">
            <div class="portfolio-content-list__card-wrapper">
              <img
                class="portfolio-content-list__img"
                src="/./src/images/gallery/4-min.jpeg"
                alt="Проєкт Prime"
              />
              <p class="portfolio-content-list__cards-wrapper-text">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>

            <div class="portfolio-content-list__dicor">
              <h2 class="portfolio-content-list__title">Проєкт Prime</h2>
              <p class="portfolio-content-list__text">Маркетинг</p>
            </div>
          </a>
        </li>
        <li class="portfolio-content-list__item -- card dog">
          <a class="portfolio-content-list__link link" href="">
            <div class="portfolio-content-list__card-wrapper">
              <img
                class="portfolio-content-list__img"
                src="/./src/images/gallery/5-min.jpeg"
                alt="Проєкт Boxes"
              />
              <p class="portfolio-content-list__cards-wrapper-text">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>

            <div class="portfolio-content-list__dicor">
              <h2 class="portfolio-content-list__title">Проєкт Boxes</h2>
              <p class="portfolio-content-list__text">Додаток</p>
            </div>
          </a>
        </li>
        <li class="portfolio-content-list__item -- card cat">
          <a class="portfolio-content-list__link link" href="">
            <div class="portfolio-content-list__card-wrapper">
              <img
                class="portfolio-content-list__img"
                src="/./src/images/gallery/6-min.jpeg"
                alt="Inspiration has no Borders"
              />
              <p class="portfolio-content-list__cards-wrapper-text">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>

            <div class="portfolio-content-list__dicor">
              <h2 class="portfolio-content-list__title">
                Inspiration has no Borders
              </h2>
              <p class="portfolio-content-list__text">Веб-сайт</p>
            </div>
          </a>
        </li>
        <li class="portfolio-content-list__item -- card bird">
          <a class="portfolio-content-list__link link" href="">
            <div class="portfolio-content-list__card-wrapper">
              <img
                class="portfolio-content-list__img"
                src="/./src/images/gallery/7-min.jpeg"
                alt="Видання Limited Edition"
              />
              <p class="portfolio-content-list__cards-wrapper-text">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>

            <div class="portfolio-content-list__dicor">
              <h2 class="portfolio-content-list__title">
                Видання Limited Edition
              </h2>
              <p class="portfolio-content-list__text">Дизайн</p>
            </div>
          </a>
        </li>
        <li class="portfolio-content-list__item -- card web">
          <a class="portfolio-content-list__link link" href="">
            <div class="portfolio-content-list__card-wrapper">
              <img
                class="portfolio-content-list__img"
                src="/./src/images/gallery/8-min.jpeg"
                alt="Проєкт LAB"
              />
              <p class="portfolio-content-list__cards-wrapper-text">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>

            <div class="portfolio-content-list__dicor">
              <h2 class="portfolio-content-list__title">Проєкт LAB</h2>
              <p class="portfolio-content-list__text">Маркетинг</p>
            </div>
          </a>
        </li>
        <li class="portfolio-content-list__item -- card dog">
          <a class="portfolio-content-list__link link" href="">
            <div class="portfolio-content-list__card-wrapper">
              <img
                class="portfolio-content-list__img"
                src="/./src/images/gallery/9-min.jpeg"
                alt="Growing Business"
              />
              <p class="portfolio-content-list__cards-wrapper-text">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>

            <div class="portfolio-content-list__dicor">
              <h2 class="portfolio-content-list__title">Growing Business</h2>
              <p class="portfolio-content-list__text">Додаток</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>
</main>
<!--  !Футер -->
<footer class="footer footer-section">
  <div class="container footer-container">
    <div class="footer-adress-tumb">
      <a href="/" class="footer-logo logo link"
        >Web<span class="footer__logo-color">Studio</span></a
      >
      <address class="footer-address">
        <ul class="footer-address-list list">
          <li class="footer-address-list__item">
            <a
              href="/"
              class="footer-address-list__link-physical-address footer-address-list__link link"
              >м. Київ, пр-т Лесі Українки, 26</a
            >
          </li>
          <li class="footer-address-list__item">
            <a
              href="malto:info@devstudio.com"
              class="footer-address-list__link link"
              >info@devstudio.com</a
            >
          </li>
          <li class="footer-address-list__item">
            <a href="tel:+380961111111" class="footer-address-list__link link"
              >+38 096 111 11 11</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="footer-social-section">
      <h2 class="footer-social-section__title">Приєднуйтесь</h2>

      <ul class="footer-social-list list">
        <li class="footer-social-list__item">
          <a href="/" class="footer-social-list__link link"
            ><svg class="footer-social-list__icon" width="20" height="20">
              <use href="./images/icon/symbol-defs.svg#instagram-footer"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-list__item">
          <a href="/" class="footer-social-list__link link"
            ><svg class="footer-social-list__icon" width="20" height="20">
              <use href="./images/icon/symbol-defs.svg#twitter-footer"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-list__item">
          <a href="/" class="footer-social-list__link link"
            ><svg class="footer-social-list__icon" width="20" height="20">
              <use href="./images/icon/symbol-defs.svg#facebook-footer"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-list__item">
          <a href="/" class="footer-social-list__link link"
            ><svg class="footer-social-list__icon" width="20" height="20">
              <use href="./images/icon/symbol-defs.svg#linkedin-footer"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-form-section">
      <label class="footer-form__title" for="email"
        >Підпишіться на розсилку</label
      >
      <form class="js-footer-form-submit" action="footer-form">
        <div class="footer-form__field">
          <input
            class="footer-form__email"
            type="email"
            name="email"
            id="email"
            placeholder="E-mail"
          />
          <button class="footer-form__btn-submit" type="submit">
            Підписатися
            <svg class="footer-form__btn-icon-decor" width="24" height="24">
              <use href="./images/icon/footer-fly.svg#icon-footer-fly"></use>
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</footer>
