<!--! Наша команда -->
<section class="team section">
  <div class="container">
    <h2 class="team-title">Наша команда</h2>

    <ul class="team-list list">
      <li class="team-list__item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/main/desktop/des-teem/des-teem-1-min.jpg    1x,
              ./images/main/desktop/des-teem/des-teem@2x-1-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/main/table/table-teem/table-teem-1-min.jpg    1x,
              ./images/main/table/table-teem/table-teem@2x-1-min.jpg 2x
            "
          />
          <source
            media="(min-width: 380px)"
            srcset="
              ./images/main/mod/teem/mob-teem-1-min.jpg    1x,
              ./images/main/mod/teem/mob-teem@2x-1-min.jpg 2x
            "
          />
          <img
            class="team-list__img"
            src="./images/main/desktop/des-teem/des-teem-1-min.jpg"
            alt="Фото Ігор Дем'яненко"
          />
        </picture>

        <div class="team-list__item-bottom-decor">
          <h2 class="team-list__employee-name">Ігор Дем'яненко</h2>
          <p class="team-list__employee-position" lang="en">Product Designer</p>

          <ul class="team-social-list list">
            <li class="team-social-list__item">
              <a href="/" class="team-social-list__link link">
                <svg class="team-social-list__icon" width="20" height="20">
                  <use href="./images/icon/symbol-defs.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-list__item">
              <a href="/" class="team-social-list__link link">
                <svg class="team-social-list__icon" width="20" height="20">
                  <use href="./images/icon/symbol-defs.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-list__item">
              <a href="/" class="team-social-list__link link">
                <svg class="team-social-list__icon" width="20" height="20">
                  <use href="./images/icon/symbol-defs.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-list__item">
              <a href="/" class="team-social-list__link link">
                <svg class="team-social-list__icon" width="20" height="20">
                  <use href="./images/icon/symbol-defs.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-list__item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/main/desktop/des-teem/des-teem-2-min.jpg    1x,
              ./images/main/desktop/des-teem/des-teem@2x-2-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/main/table/table-teem/table-teem-2-min.jpg    1x,
              ./images/main/table/table-teem/table-teem@2x-2-min.jpg 2x
            "
          />
          <source
            media="(min-width: 380px)"
            srcset="
              ./images/main/mod/teem/mob-teem-2-min.jpg    1x,
              ./images/main/mod/teem/mob-teem@2x-2-min.jpg 2x
            "
          />
          <img
            class="team-list__img"
            src="./images/main/desktop/des-teem/des-teem-2-min.jpg"
            alt="Фото Ольга Рєпіна"
          />
        </picture>

        <div class="team-list__item-bottom-decor">
          <h2 class="team-list__employee-name">Ольга Рєпіна</h2>
          <p class="team-list__employee-position" lang="en">Frontend Developer</p>
          <ul class="team-social-list list">
            <li class="team-social-list__item">
              <a href="/" class="team-social-list__link link">
                <svg class="team-social-list__icon" width="20" height="20">
                  <use href="./images/icon/symbol-defs.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-list__item">
              <a href="/" class="team-social-list__link link">
                <svg class="team-social-list__icon" width="20" height="20">
                  <use href="./images/icon/symbol-defs.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-list__item">
              <a href="/" class="team-social-list__link link">
                <svg class="team-social-list__icon" width="20" height="20">
                  <use href="./images/icon/symbol-defs.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-list__item">
              <a href="/" class="team-social-list__link link">
                <svg class="team-social-list__icon" width="20" height="20">
                  <use href="./images/icon/symbol-defs.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list__item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/main/desktop/des-teem/des-teem-3-min.jpg    1x,
              ./images/main/desktop/des-teem/des-teem@2x-3-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/main/table/table-teem/table-teem-3-min.jpg    1x,
              ./images/main/table/table-teem/table-teem@2x-3-min.jpg 2x
            "
          />
          <source
            media="(min-width: 380px)"
            srcset="
              ./images/main/mod/teem/mob-teem-3-min.jpg    1x,
              ./images/main/mod/teem/mob-teem@2x-3-min.jpg 2x
            "
          />
          <img
            class="team-list__img"
            src="./images/main/desktop/des-teem/des-teem-3-min.jpg"
            alt="Фото Микола Тарасов"
          />
        </picture>

        <div class="team-list__item-bottom-decor">
          <h2 class="team-list__employee-name">Микола Тарасов</h2>
          <p class="team-list__employee-position" lang="en">Marketing</p>
          <ul class="team-social-list list">
            <li class="team-social-list__item">
              <a href="/" class="team-social-list__link link">
                <svg class="team-social-list__icon" width="20" height="20">
                  <use href="./images/icon/symbol-defs.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-list__item">
              <a href="/" class="team-social-list__link link">
                <svg class="team-social-list__icon" width="20" height="20">
                  <use href="./images/icon/symbol-defs.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-list__item">
              <a href="/" class="team-social-list__link link">
                <svg class="team-social-list__icon" width="20" height="20">
                  <use href="./images/icon/symbol-defs.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-list__item">
              <a href="/" class="team-social-list__link link">
                <svg class="team-social-list__icon" width="20" height="20">
                  <use href="./images/icon/symbol-defs.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list__item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/main/desktop/des-teem/des-teem-4-min.jpg    1x,
              ./images/main/desktop/des-teem/des-teem@2x-4-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/main/table/table-teem/table-teem-4-min.jpg    1x,
              ./images/main/table/table-teem/table-teem@2x-4-min.jpg 2x
            "
          />
          <source
            media="(min-width: 380px)"
            srcset="
              ./images/main/mod/teem/mob-teem-4-min.jpg    1x,
              ./images/main/mod/teem/mob-teem@2x-4-min.jpg 2x
            "
          />
          <img
            class="team-list__img"
            src="./images/main/desktop/des-teem/des-teem-4-min.jpg"
            alt="Фото Михайло Єрмаков"
          />
        </picture>

        <div class="team-list__item-bottom-decor">
          <h2 class="team-list__employee-name">Михайло Єрмаков</h2>
          <p class="team-list__employee-position" lang="en">UI Designer</p>
          <ul class="team-social-list list">
            <li class="team-social-list__item">
              <a href="/" class="team-social-list__link link">
                <svg class="team-social-list__icon" width="20" height="20">
                  <use href="./images/icon/symbol-defs.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-list__item">
              <a href="/" class="team-social-list__link link">
                <svg class="team-social-list__icon" width="20" height="20">
                  <use href="./images/icon/symbol-defs.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-list__item">
              <a href="/" class="team-social-list__link link">
                <svg class="team-social-list__icon" width="20" height="20">
                  <use href="./images/icon/symbol-defs.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-list__item">
              <a href="/" class="team-social-list__link link">
                <svg class="team-social-list__icon" width="20" height="20">
                  <use href="./images/icon/symbol-defs.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
