<!--! Особености -->
<section class="features section">
  <div class="container">
    <h2 class="visually-hidden">Особености</h2>

    <ul class="features-list">
      <li class="features-list__itam list">
        <div class="features-list__icon">
          <svg class="features-list__icon-item" width="70" height="70">
            <use href="./images/icon/symbol-defs.svg#antenna"></use>
          </svg>
        </div>
        <h3 class="features-list__title">Увага до деталей</h3>
        <p class="features-list__text">
          Ідейні міркування, і навіть початок повсякденної роботи з формування позиції.
        </p>
      </li>
      <li class="features-list__itam list">
        <div class="features-list__icon">
          <svg class="features-list__icon-item" width="70" height="70">
            <use href="./images/icon/symbol-defs.svg#clock"></use>
          </svg>
        </div>
        <h3 class="features-list__title">Пунктуальність</h3>
        <p class="features-list__text">
          Завдання організації, особливо рамки і місце навчання кадрів тягне у себе.
        </p>
      </li>
      <li class="features-list__itam list">
        <div class="features-list__icon">
          <svg class="features-list__icon-item" width="70" height="70">
            <use href="./images/icon/symbol-defs.svg#diagram"></use>
          </svg>
        </div>
        <h3 class="features-list__title">Планування</h3>
        <p class="features-list__text">
          Так само консультація з широким активом значною мірою зумовлює.
        </p>
      </li>
      <li class="features-list__itam list">
        <div class="features-list__icon">
          <svg class="features-list__icon-item" width="70" height="70">
            <use href="./images/icon/symbol-defs.svg#astronaut"></use>
          </svg>
        </div>
        <h3 class="features-list__title">Сучасні технології</h3>
        <p class="features-list__text">
          Значимість цих проблем настільки очевидна, що реалізація планових завдань.
        </p>
      </li>
    </ul>
  </div>
</section>
