<!-- !Занятость -->
<section class="employment section">
  <div class="container employment-container">
    <h2 class="employment-container__title">Чим ми займаємося</h2>

    <ul class="employment-list list">
      <li class="employment-list__itam">
        <img
          srcset="
            ./images/main/desktop/des-work/des-work-1-min.jpg    1x,
            ./images/main/desktop/des-work/des-work@2x-1-min.jpg 2x
          "
          class="employment-list__img"
          src="./images/main/desktop/des-work/des-work-1-min.jpg"
          alt="Десктопні додатки"
          width="370"
        />
        <p class="employment-list__text">Десктопні додатки</p>
      </li>
      <li class="employment-list__itam">
        <img
          srcset="
            ./images/main/desktop/des-work/des-work-2-min.jpg    1x,
            ./images/main/desktop/des-work/des-work@2x-2-min.jpg 2x
          "
          class="employment-list__img"
          src="./images/main/desktop/des-work/des-work-2-min.jpg"
          alt="Мобільні додатки"
          width="370"
        />
        <p class="employment-list__text">Мобільні додатки</p>
      </li>
      <li class="employment-list__itam">
        <img
          srcset="
            ./images/main/desktop/des-work/des-work-3-min.jpg    1x,
            ./images/main/desktop/des-work/des-work@2x-3-min.jpg 2x
          "
          class="employment-list__img"
          src="./images/main/desktop/des-work/des-work-3-min.jpg"
          alt="Дизайнерські рішення"
          width="370"
        />
        <p class="employment-list__text">Дизайнерські рішення</p>
      </li>
    </ul>
  </div>
</section>
