  <!-- ! Херед Навигация -->
<header class="header header-section">
  <div class="container header-main-nav">
    <nav class="header-nav">
      <a href="/" class="logo"
        >Web<span class="header-nav__logo-color">Studio</span></a
      >

      <ul class="header-nav-list list">
        <li class="header-nav-list__item">
          <a href="" class="header-nav-list__link focus-nav link">Студія</a>
        </li>
        <li class="header-nav-list__item">
          <a
            href="./portfolio-page.html"
            class="header-nav-list__link focus-nav-anim link"
            >Портфоліо</a
          >
        </li>
        <li class="header-nav-list__item">
          <a href="./contacts-page.html" class="header-nav-list__link focus-nav-anim link"
            >Контакти</a
          >
        </li>
      </ul>
    </nav>

    <ul class="header-address-list list">
      <li class="header-address-list__item">
        <a
          href="malto:info@devstudio.com"
          class="header-address-list__link link-address-email link"
        >
          <svg class="header-address-list__icon-mail" width="16" height="12">
            <use href="./images/icon/symbol-defs.svg#icon-envelope"></use>
          </svg>
          info@devstudio.com
        </a>
      </li>
      <li class="header-address-list__item">
        <a
          href="tel:+380961111111"
          class="header-address-list__link link-address-tel link"
          ><svg class="header-address-list__icon-phone" width="10" height="16">
            <use href="./images/icon/symbol-defs.svg#icon-smartphone"></use>
          </svg>
          +38 096 111 11 11</a
        >
      </li>
    </ul>
  </div>
</header>
  <!--! Основной контент  -->
<main>
  <!--! Hero -->
  <section class="hero hero__overlay-background">
    <div class="container hero__container">
      <h1 class="hero__title">
        Ефективні рішення для <br />
        вашого бізнесу
      </h1>
      <button`
        class="hero__btn 
        animate__animated animate__pulse animate__infinite infinite"
        data-open-modal
      >Замовити послугу</button>
    </div>
  </section>
  <!--! Особености -->
  <section class="features section">
    <div class="container">
      <h2 class="visually-hidden">Особености</h2>

      <ul class="features-list">
        <li class="features-list__itam list">
          <div class="features-list__icon">
            <svg class="features-list__icon-item" width="70" height="70">
              <use href="./images/icon/symbol-defs.svg#antenna"></use>
            </svg>
          </div>
          <h3 class="features-list__title">Увага до деталей</h3>
          <p class="features-list__text">
            Ідейні міркування, і навіть початок повсякденної роботи з формування
            позиції.
          </p>
        </li>
        <li class="features-list__itam list">
          <div class="features-list__icon">
            <svg class="features-list__icon-item" width="70" height="70">
              <use href="./images/icon/symbol-defs.svg#clock"></use>
            </svg>
          </div>
          <h3 class="features-list__title">Пунктуальність</h3>
          <p class="features-list__text">
            Завдання організації, особливо рамки і місце навчання кадрів тягне у
            себе.
          </p>
        </li>
        <li class="features-list__itam list">
          <div class="features-list__icon">
            <svg class="features-list__icon-item" width="70" height="70">
              <use href="./images/icon/symbol-defs.svg#diagram"></use>
            </svg>
          </div>
          <h3 class="features-list__title">Планування</h3>
          <p class="features-list__text">
            Так само консультація з широким активом значною мірою зумовлює.
          </p>
        </li>
        <li class="features-list__itam list">
          <div class="features-list__icon">
            <svg class="features-list__icon-item" width="70" height="70">
              <use href="./images/icon/symbol-defs.svg#astronaut"></use>
            </svg>
          </div>
          <h3 class="features-list__title">Сучасні технології</h3>
          <p class="features-list__text">
            Значимість цих проблем настільки очевидна, що реалізація планових
            завдань.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <!-- !Занятость -->
  <section class="employment section">
    <div class="container employment-container">
      <h2 class="employment-container__title">Чим ми займаємося</h2>

      <ul class="employment-list list">
        <li class="employment-list__itam">
          <img
            class="employment-list__img"
            src="/src/images/box1.jpeg"
            alt="Десктопні додатки"
            width="370"
          />
          <p class="employment-list__text">Десктопні додатки</p>
        </li>
        <li class="employment-list__itam">
          <img
            class="employment-list__img"
            src="/src/images/box2.jpeg"
            alt="Мобільні додатки"
            width="370"
          />
          <p class="employment-list__text">Мобільні додатки</p>
        </li>
        <li class="employment-list__itam">
          <img
            class="employment-list__img"
            src="/src/images/box3.jpeg"
            alt="Дизайнерські рішення"
            width="370"
          />
          <p class="employment-list__text">Дизайнерські рішення</p>
        </li>
      </ul>
    </div>
  </section>
  <!--! Наша команда -->
  <section class="team section">
    <div class="container ">
      <h2 class="team-title">Наша команда</h2>

      <ul class="team-list list">
        <li class="team-list__item">
          <img
            class="team-list__img"
            src="/src/images/teem/img1.jpeg"
            alt="Фото Ігор Дем'яненко"
            width="270"
          />

          <div class="team-list__item-bottom-decor">
            <h2 class="team-list__employee-name">Ігор Дем'яненко</h2>
            <p class="team-list__employee-position" lang="en">Product Designer</p>

            <ul class="team-social-list list">
              <li class="team-social-list__item">
                <a href="/" class="team-social-list__link link"
                  ><svg class="team-social-list__icon" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social-list__item">
                <a href="/" class="team-social-list__link link"
                  ><svg class="team-social-list__icon" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social-list__item">
                <a href="/" class="team-social-list__link link"
                  ><svg class="team-social-list__icon" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social-list__item">
                <a href="/" class="team-social-list__link link"
                  ><svg class="team-social-list__icon" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="team-list__item">
          <img
            class="team-list__img"
            src="/src/images/teem/img2.jpeg"
            alt="Фото Ольга Рєпіна"
            width="270"
          />

          <div class="team-list__item-bottom-decor">
            <h2 class="team-list__employee-name">Ольга Рєпіна</h2>
            <p class="team-list__employee-position" lang="en">Frontend Developer</p>
            <ul class="team-social-list list">
              <li class="team-social-list__item">
                <a href="/" class="team-social-list__link link"
                  ><svg class="team-social-list__icon" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social-list__item">
                <a href="/" class="team-social-list__link link"
                  ><svg class="team-social-list__icon" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social-list__item">
                <a href="/" class="team-social-list__link link"
                  ><svg class="team-social-list__icon" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social-list__item">
                <a href="/" class="team-social-list__link link"
                  ><svg class="team-social-list__icon" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            class="team-list__img"
            src="/src/images/teem/img3.jpeg"
            alt="Фото Микола Тарасов"
            width="270"
          />

          <div class="team-list__item-bottom-decor">
            <h2 class="team-list__employee-name">Микола Тарасов</h2>
            <p class="team-list__employee-position" lang="en">Marketing</p>
            <ul class="team-social-list list">
              <li class="team-social-list__item">
                <a href="/" class="team-social-list__link link"
                  ><svg class="team-social-list__icon" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social-list__item">
                <a href="/" class="team-social-list__link link"
                  ><svg class="team-social-list__icon" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social-list__item">
                <a href="/" class="team-social-list__link link"
                  ><svg class="team-social-list__icon" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social-list__item">
                <a href="/" class="team-social-list__link link"
                  ><svg class="team-social-list__icon" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            class="team-list__img"
            src="/src/images/teem/img4.jpeg"
            alt="Фото Михайло Єрмаков"
            width="270"
          />
          <div class="team-list__item-bottom-decor">
            <h2 class="team-list__employee-name">Михайло Єрмаков</h2>
            <p class="team-list__employee-position" lang="en">UI Designer</p>
            <ul class="team-social-list list">
              <li class="team-social-list__item">
                <a href="/" class="team-social-list__link link"
                  ><svg class="team-social-list__icon" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social-list__item">
                <a href="/" class="team-social-list__link link"
                  ><svg class="team-social-list__icon" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social-list__item">
                <a href="/" class="team-social-list__link link"
                  ><svg class="team-social-list__icon" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social-list__item">
                <a href="/" class="team-social-list__link link"
                  ><svg class="team-social-list__icon" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!--! Спонсоры -->
  <section class="clients section">
    <div class="container">
      <h2 class="clients-title">Постійні клієнти</h2>
      <ul class="clients-list">
        <li class="clients-list__item">
          <a href="/" class="clients-list__link link"
            ><svg class="clients-list__icon-logo" width="41" height="47.7">
              <use href="./images/icon/symbol-defs.svg#logo-1"></use>
            </svg>
          </a>
        </li>
        <li class="clients-list__item">
          <a href="/" class="clients-list__link link"
            ><svg class="clients-list__icon-logo" width="41" height="47.7">
              <use href="./images/icon/symbol-defs.svg#logo-2"></use>
            </svg>
          </a>
        </li>
        <li class="clients-list__item">
          <a href="/" class="clients-list__link link"
            ><svg class="clients-list__icon-logo" width="106" height="60">
              <use href="./images/icon/symbol-defs.svg#logo-3"></use>
            </svg>
          </a>
        </li>
        <li class="clients-list__item">
          <a href="/" class="clients-list__link link"
            ><svg class="clients-list__icon-logo" width="106" height="60">
              <use href="./images/icon/symbol-defs.svg#logo-4"></use>
            </svg>
          </a>
        </li>
        <li class="clients-list__item">
          <a href="/" class="clients-list__link link"
            ><svg class="clients-list__icon-logo" width="106" height="60">
              <use href="./images/icon/symbol-defs.svg#logo-5"></use>
            </svg>
          </a>
        </li>
        <li class="clients-list__item">
          <a href="/" class="clients-list__link link"
            ><svg class="clients-list__icon-logo" width="106" height="60">
              <use href="./images/icon/symbol-defs.svg#logo-6"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </section>
</main>
  <!--  !Футер -->
<footer class="footer footer-section">
  <div class="container footer-container">
    <div class="footer-adress-tumb">
      <a href="/" class="footer-logo logo link"
        >Web<span class="footer__logo-color">Studio</span></a
      >
      <address class="footer-address">
        <ul class="footer-address-list list">
          <li class="footer-address-list__item">
            <a
              href="/"
              class="footer-address-list__link-physical-address footer-address-list__link link"
              >м. Київ, пр-т Лесі Українки, 26</a
            >
          </li>
          <li class="footer-address-list__item">
            <a href="malto:info@devstudio.com" class="footer-address-list__link link"
              >info@devstudio.com</a
            >
          </li>
          <li class="footer-address-list__item">
            <a href="tel:+380961111111" class="footer-address-list__link link"
              >+38 096 111 11 11</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="footer-social-section">
      <h2 class="footer-social-section__title">Приєднуйтесь</h2>

      <ul class="footer-social-list list">
        <li class="footer-social-list__item">
          <a href="/" class="footer-social-list__link link"
            ><svg class="footer-social-list__icon" width="20" height="20">
              <use href="./images/icon/symbol-defs.svg#instagram-footer"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-list__item">
          <a href="/" class="footer-social-list__link link"
            ><svg class="footer-social-list__icon" width="20" height="20">
              <use href="./images/icon/symbol-defs.svg#twitter-footer"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-list__item">
          <a href="/" class="footer-social-list__link link"
            ><svg class="footer-social-list__icon" width="20" height="20">
              <use href="./images/icon/symbol-defs.svg#facebook-footer"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-list__item">
          <a href="/" class="footer-social-list__link link"
            ><svg class="footer-social-list__icon" width="20" height="20">
              <use href="./images/icon/symbol-defs.svg#linkedin-footer"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-form-section">
      <label class="footer-form__title" for="email"
        >Підпишіться на розсилку</label
      >
      <form class="js-footer-form-submit" action="footer-form">
        <div class="footer-form__field">
          <input
            class="footer-form__email"
            type="email"
            name="email"
            id="email"
            placeholder="E-mail"
          />
          <button class="footer-form__btn-submit" type="submit">
            Підписатися
            <svg class="footer-form__btn-icon-decor" width="24" height="24">
              <use href="./images/icon/footer-fly.svg#icon-footer-fly"></use>
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</footer>

<!--! МОДАЛКА -->

<div class="backdrop is-hidden" data-backdrop>
  <div class="modal">
    <button class="modal__btn-clos" data-close-modal>
      <svg class="modal__btn-clos-icon" width="30" height="30">
        <use href="./images/icon/close-icon.svg#icon-close-black"></use>
      </svg>
    </button>

    <form class="modal-form js-form-submit">
      <p class="modal-form__title">Залиште свої дані, ми вам передзвонимо</p>

      <div class="modal-form__field">
        <label class="modal-form__label">
          Ім'я
          <input
            class="form-name-input modal-form__input"
            type="text"
            name="name"
            required
          />
          <svg class="modal-form__icon" width="18" height="18">
            <use href="./images/icon/modalll.svg#icon-person"
        </label>
      </div>

      <div class="modal-form__field">
        <label class="modal-form__label">
          Телефон
          <input
            class="form-phone-input modal-form__input"
            type="tel"
            name="phone"
            required
          />
          <svg class="modal-form__icon" width="18" height="18">
            <use href="./images/icon/modalll.svg#icon-phone"></use>
          </svg>
        </label>
      </div>

      <div class="modal-form__field">
        <label class="modal-form__label">
          Пошта
          <input
            class="form-email-input modal-form__input"
            type="email"
            name="email"
            required
          />
          <svg class="modal-form__icon" width="18" height="18">
            <use href="./images/icon/modalll.svg#icon-email"></use>
          </svg>
        </label>
      </div>

      <div class="modal-form__field">
        <label class="modal-form__label"
          >Коментар
          <textarea
            class="modal-form__comment modal-form__input"
            name="comment"
            placeholder="Введіть текст"
          ></textarea>
        </label>
      </div>

      <div class="modal-form__field">
        <label class="modal-form__checkbox-label"
          ><input
            class="modal-form__checkbox-input"
            type="checkbox"
            name="agreement"
            value="Погоджуюся з розсилкою"
          />
          <span class="modal-form__checkbox-input-icon-box">
            <svg class="modal-form__icon-checkbox" width="11" height="8">
              <use
                href="./images/icon/modal-icon.svg#icon-check-item"
              ></use></svg></span>Погоджуюся з розсилкою та приймаю&nbsp;
          <a class="modal-form__checkbox-link" href="">Умови договору</a></label
        >
      </div>

      <div class="modal-form__field form-btn">
        <button class="modal-form__btn-submit" type="submit">Відправити</button>
      </div>
    </form>
  </div>
</div>
