.clients-title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: (33 / 28);
    text-align: center;

    color: getColor('primary');

        @media screen and (min-width: 1200px) {
        margin-bottom: 50px;

            font-size: 36px;
             line-height: (42 / 36);
        }


}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;

}

.clients-list__item {
    width: 100%;
    height: 92px;

    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
margin-bottom: 30px;
    fill: #afb1b8;

    @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
     }
        @media screen and (min-width: 1200px){
         flex-basis: calc(100% / 6 - 30px);

        }
}

.clients-list__link {
    width: 100%;
    height: 100%;

display: flex;
    align-items: center;
    justify-content: center;


    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: border 250ms var(--timing-function);

        &:hover,
        &:focus {
            border: 1px solid getColor('accent');
    
        }
}

.clients-list__icon-logo {
    fill: #afb1b8;

    transition: fill 250ms var(--timing-function);

        .clients-list__link:hover &,
        .clients-list__link:focus & {
            // border: 1px solid #0037ff;
            fill: getColor('accent');
    
        }
}



