.hero__overlay-background {


    max-width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/main/mod/hero/mob-hero-min.jpeg');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url('../images/main/mod/hero/mob-hero2x-min.jpeg');
    }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url('../images/main/table/table-hero/table-hero-min.jpg');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url('../images/main/table/table-hero/table-hero2x-min.jpg');
        }
    }

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 600px;
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url('/src/images/main/desktop/des-hero/des-hero-min.jpg');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url('../images/main/desktop/des-hero/des-hero2x-min.jpg');
        }
    }


}


.hero__container {
    padding-top: 118px;
    padding-bottom: 118px;
    padding-left: 0;
    padding-right: 0;


    text-align: center;

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }

}


.hero__title {
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: (42 / 26);

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: (60 / 44);
    }

}

.hero__btn {
    min-width: 200px;
    height: 50px;


    display: inline-block;
    border: none;
    border-radius: 4px;


    padding: 10px 32px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: (30 / 16);
    letter-spacing: 0.06em;


    background-color: getColor('accent');
    color: #ffffff;

    cursor: pointer;

    transition: box-shadow 250ms var(--timing-function);

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

        animation-play-state: paused;

    }
}