<!-- Херед Навигация -->
<header class="header header-section">
  <div class="container header-main-nav">
    <nav class="header-nav">
      <a href="/" class="logo"
        >Web<span class="header-logo-col">Studio</span></a
      >

      <ul class="header-nav-list list">
        <li class="header-item">
          <a href="" class="header-link focus-nav link">Студія</a>
        </li>
        <li class="header-item">
          <a
            href="./portfolio-page.html"
            class="header-link focus-nav-anim link"
            >Портфоліо</a
          >
        </li>
        <li class="header-item">
          <a href="./contacts-page.html" class="header-link focus-nav-anim link"
            >Контакти</a
          >
        </li>
      </ul>
    </nav>

    <ul class="header-address list">
      <li class="header-address-item">
        <a
          href="malto:info@devstudio.com"
          class="header-address-link link-address-email link"
        >
          <svg class="header-icon-mail" width="16" height="12">
            <use href="./images/icon/symbol-defs.svg#icon-envelope"></use>
          </svg>
          info@devstudio.com
        </a>
      </li>
      <li class="header-address-item">
        <a
          href="tel:+380961111111"
          class="header-address-link link-address-tel link"
          ><svg class="header-icon-phone" width="10" height="16">
            <use href="./images/icon/symbol-defs.svg#icon-smartphone"></use>
          </svg>
          +38 096 111 11 11</a
        >
      </li>
    </ul>
  </div>
</header>
<!-- Основной контент  -->
<main>
  <!--! Hero -->
  <section class="hero overlay">
    <div class="container hero-container">
      <h1 class="hero-title">
        Ефективні рішення для <br />
        вашого бізнесу
      </h1>
      <button
        class="hero-btn animate__animated animate__infinite animate__tada animate__repeat-3"
        data-open-modal
      >
        Замовити послугу
      </button>
    </div>
  </section>
  <!--! Особености -->
  <section class="features section">
    <div class="container">
      <h2 class="visually-hidden">Особености</h2>

      <ul class="features-list">
        <li class="feature-itam list">
          <div class="feature-itam-icon">
            <svg class="feature-icon-antenna" width="70" height="70">
              <use href="./images/icon/symbol-defs.svg#antenna"></use>
            </svg>
          </div>
          <h3 class="features-title">Увага до деталей</h3>
          <p class="features-text">
            Ідейні міркування, і навіть початок повсякденної роботи з формування
            позиції.
          </p>
        </li>
        <li class="feature-itam list">
          <div class="feature-itam-icon">
            <svg class="feature-icon-antenna" width="70" height="70">
              <use href="./images/icon/symbol-defs.svg#clock"></use>
            </svg>
          </div>
          <h3 class="features-title">Пунктуальність</h3>
          <p class="features-text">
            Завдання організації, особливо рамки і місце навчання кадрів тягне у
            себе.
          </p>
        </li>
        <li class="feature-itam list">
          <div class="feature-itam-icon">
            <svg class="feature-icon-antenna" width="70" height="70">
              <use href="./images/icon/symbol-defs.svg#diagram"></use>
            </svg>
          </div>
          <h3 class="features-title">Планування</h3>
          <p class="features-text">
            Так само консультація з широким активом значною мірою зумовлює.
          </p>
        </li>
        <li class="feature-itam list">
          <div class="feature-itam-icon">
            <svg class="feature-icon-antenna" width="70" height="70">
              <use href="./images/icon/symbol-defs.svg#astronaut"></use>
            </svg>
          </div>
          <h3 class="features-title">Сучасні технології</h3>
          <p class="features-text">
            Значимість цих проблем настільки очевидна, що реалізація планових
            завдань.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <!-- !Занятость -->
  <section class="employment section">
    <div class="container">
      <h2 class="employment-title">Чим ми займаємося</h2>

      <ul class="employment-list list">
        <li class="employment-itam">
          <img
            class="employment-img"
            src="/src/images/box1.jpeg"
            alt="Десктопні додатки"
            width="370"
          />
          <p class="employment-text">Десктопні додатки</p>
        </li>
        <li class="employment-itam">
          <img
            class="employment-img"
            src="/src/images/box2.jpeg"
            alt=""
            width="370"
          />
          <p class="employment-text">Мобільні додатки</p>
        </li>
        <li class="employment-itam">
          <img
            class="employment-img"
            src="/src/images/box3.jpeg"
            alt=""
            width="370"
          />
          <p class="employment-text">Дизайнерські рішення</p>
        </li>
      </ul>
    </div>
  </section>
  <!--! Наша команда -->
  <section class="team section">
    <div class="container">
      <h2 class="team-title">Наша команда</h2>

      <ul class="team-list list">
        <li class="team-item">
          <img
            class="team-img"
            src="/src/images/teem/img1.jpeg"
            alt="Фото Ігор Дем'яненко"
            width="270"
          />

          <div class="team-item-bottom-decor">
            <h2 class="team-employee-name">Ігор Дем'яненко</h2>
            <p class="team-employee-position" lang="en">Product Designer</p>

            <ul class="team-list-icon list">
              <li class="team-item-icon">
                <a href="/" class="team-link-icon link"
                  ><svg class="team-icon-social" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="team-item-icon">
                <a href="/" class="team-link-icon link"
                  ><svg class="team-icon-social" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="team-item-icon">
                <a href="/" class="team-link-icon link"
                  ><svg class="team-icon-social" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team-item-icon">
                <a href="/" class="team-link-icon link"
                  ><svg class="team-icon-social" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="team-item">
          <img
            class="team-img"
            src="/src/images/teem/img2.jpeg"
            alt="Фото Ольга Рєпіна"
            width="270"
          />

          <div class="team-item-bottom-decor">
            <h2 class="team-employee-name">Ольга Рєпіна</h2>
            <p class="team-employee-position" lang="en">Frontend Developer</p>
            <ul class="team-list-icon list">
              <li class="team-item-icon">
                <a href="/" class="team-link-icon link"
                  ><svg class="team-icon-social" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="team-item-icon">
                <a href="/" class="team-link-icon link"
                  ><svg class="team-icon-social" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="team-item-icon">
                <a href="/" class="team-link-icon link"
                  ><svg class="team-icon-social" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team-item-icon">
                <a href="/" class="team-link-icon link"
                  ><svg class="team-icon-social" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="/src/images/teem/img3.jpeg"
            alt="Фото Микола Тарасов"
            width="270"
          />

          <div class="team-item-bottom-decor">
            <h2 class="team-employee-name">Микола Тарасов</h2>
            <p class="team-employee-position" lang="en">Marketing</p>
            <ul class="team-list-icon list">
              <li class="team-item-icon">
                <a href="/" class="team-link-icon link"
                  ><svg class="team-icon-social" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="team-item-icon">
                <a href="/" class="team-link-icon link"
                  ><svg class="team-icon-social" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="team-item-icon">
                <a href="/" class="team-link-icon link"
                  ><svg class="team-icon-social" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team-item-icon">
                <a href="/" class="team-link-icon link"
                  ><svg class="team-icon-social" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="/src/images/teem/img4.jpeg"
            alt="Фото Михайло Єрмаков"
            width="270"
          />
          <div class="team-item-bottom-decor">
            <h2 class="team-employee-name">Михайло Єрмаков</h2>
            <p class="team-employee-position" lang="en">UI Designer</p>
            <ul class="team-list-icon list">
              <li class="team-item-icon">
                <a href="/" class="team-link-icon link"
                  ><svg class="team-icon-social" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="team-item-icon">
                <a href="/" class="team-link-icon link"
                  ><svg class="team-icon-social" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="team-item-icon">
                <a href="/" class="team-link-icon link"
                  ><svg class="team-icon-social" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team-item-icon">
                <a href="/" class="team-link-icon link"
                  ><svg class="team-icon-social" width="20" height="20">
                    <use href="./images/icon/symbol-defs.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!--! Спонсоры -->
  <section class="clients section">
    <div class="container">
      <h2 class="clients-title">Постійні клієнти</h2>
      <ul class="clients-list">
        <li class="clients-item">
          <a href="/" class="clients-link-icon link"
            ><svg class="clients-icon-logo" width="41" height="47.7">
              <use href="./images/icon/symbol-defs.svg#logo-1"></use>
            </svg>
          </a>
        </li>
        <li class="clients-item">
          <a href="/" class="clients-link-icon link"
            ><svg class="clients-icon-logo" width="41" height="47.7">
              <use href="./images/icon/symbol-defs.svg#logo-2"></use>
            </svg>
          </a>
        </li>
        <li class="clients-item">
          <a href="/" class="clients-link-icon link"
            ><svg class="clients-icon-logo" width="106" height="60">
              <use href="./images/icon/symbol-defs.svg#logo-3"></use>
            </svg>
          </a>
        </li>
        <li class="clients-item">
          <a href="/" class="clients-link-icon link"
            ><svg class="clients-icon-logo" width="106" height="60">
              <use href="./images/icon/symbol-defs.svg#logo-4"></use>
            </svg>
          </a>
        </li>
        <li class="clients-item">
          <a href="/" class="clients-link-icon link"
            ><svg class="clients-icon-logo" width="106" height="60">
              <use href="./images/icon/symbol-defs.svg#logo-5"></use>
            </svg>
          </a>
        </li>
        <li class="clients-item">
          <a href="/" class="clients-link-icon link"
            ><svg class="clients-icon-logo" width="106" height="60">
              <use href="./images/icon/symbol-defs.svg#logo-6"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </section>
</main>
<!-- !Футер -->
<footer class="footer footer-section">
  <div class="container footer-container">
    <div class="footer-adress-tumb">
      <a href="/" class="footer-logo logo link"
        >Web<span class="footer-logo-col">Studio</span></a
      >
      <address class="footer-address">
        <ul class="footer-nav list">
          <li class="footer-item">
            <a
              href=""
              class="footer-link-physical-address footer-address-link link"
              >м. Київ, пр-т Лесі Українки, 26</a
            >
          </li>
          <li class="footer-item">
            <a href="malto:info@devstudio.com" class="footer-address-link link"
              >info@devstudio.com</a
            >
          </li>
          <li class="footer-item">
            <a href="tel:+380961111111" class="footer-address-link link"
              >+38 096 111 11 11</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="social-footer-section">
      <h2 class="social-footer-title">Приєднуйтесь</h2>

      <ul class="social-footer-section-list list">
        <li class="footer-item-icon">
          <a href="/" class="footer-link-icon link"
            ><svg class="footer-icon-social" width="20" height="20">
              <use href="./images/icon/symbol-defs.svg#instagram-footer"></use>
            </svg>
          </a>
        </li>
        <li class="footer-item-icon">
          <a href="/" class="footer-link-icon link"
            ><svg class="footer-icon-social" width="20" height="20">
              <use href="./images/icon/symbol-defs.svg#twitter-footer"></use>
            </svg>
          </a>
        </li>
        <li class="footer-item-icon">
          <a href="/" class="footer-link-icon link"
            ><svg class="footer-icon-social" width="20" height="20">
              <use href="./images/icon/symbol-defs.svg#facebook-footer"></use>
            </svg>
          </a>
        </li>
        <li class="footer-item-icon">
          <a href="/" class="footer-link-icon link"
            ><svg class="footer-icon-social" width="20" height="20">
              <use href="./images/icon/symbol-defs.svg#linkedin-footer"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-form-section">
      <label class="footer-form-title" for="email"
        >Підпишіться на розсилку</label
      >
      <form class="js-footer-form-submit" action="footer-form">
        <div class="footer-form-field">
          <input
            class="footer-form-email"
            type="email"
            name="email"
            id="email"
            placeholder="E-mail"
          />
          <button class="footer-form-btn-submit" type="submit">
            Підписатися
            <svg class="footer-icon-fly" width="24" height="24">
              <use href="./images/icon/footer-fly.svg#icon-footer-fly"></use>
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</footer>

<!--! МОДАЛКА -->

<div class="backdrop is-hidden" data-backdrop>
  <div class="modal">
    <button class="modal-btn-clos" data-close-modal>
      <svg class="modal-icon-clos" width="30" height="30">
        <use href="./images/icon/close-icon.svg#icon-close-black"></use>
      </svg>
    </button>

    <form class="form js-form-submit">
      <p class="modal-title">Залиште свої дані, ми вам передзвонимо</p>

      <div class="form-field">
        <label class="modal-form-label">
          Ім'я
          <input
            class="form-name-input modal-inp"
            type="text"
            name="name"
            required
          />
          <svg class="modal-icon-form" width="18" height="18">
            <use href="./images/icon/modalll.svg#icon-person"></use>
          </svg>
        </label>
      </div>

      <div class="form-field">
        <label class="modal-form-label">
          Телефон
          <input
            class="form-phone-input modal-inp"
            type="tel"
            name="phone"
            required
          />
          <svg class="modal-icon-form" width="18" height="18">
            <use href="./images/icon/modalll.svg#icon-phone"></use>
          </svg>
        </label>
      </div>

      <div class="form-field">
        <label class="modal-form-label">
          Пошта
          <input
            class="form-email-input modal-inp"
            type="email"
            name="email"
            required
          />
          <svg class="modal-icon-form" width="18" height="18">
            <use href="./images/icon/modalll.svg#icon-email"></use>
          </svg>
        </label>
      </div>

      <div class="form-field">
        <label class="modal-form-label"
          >Коментар
          <textarea
            class="form-comment modal-inp"
            name="comment"
            cols="30"
            placeholder="Введіть текст"
          ></textarea>
        </label>
      </div>

      <div class="form-field">
        <label class="modal-form-checkbox-label"
          ><input
            class="modal-form-checkbox"
            type="checkbox"
            name="agreement"
            value="Погоджуюся з розсилкою"
          />
          <span class="modal-icon-box"
            ><svg class="modal-icon-checkbox" width="16" height="16">
              <use
                href="./images/icon/modal-icon.svg#check-fulll"
              ></use></svg></span
          >Погоджуюся з розсилкою та приймаю&nbsp;
          <a class="check-text-link" href="">Умови договору</a></label
        >
      </div>

      <div class="form-field form-btn">
        <button class="form-btn-submit" type="submit">Відправити</button>
      </div>
    </form>
  </div>
</div>
