<!-- Херед Навигация -->
<header class="header header-section">
  <div class="container header-main-nav">
    <nav class="header-nav">
      <a href="/" class="logo"
        >Web<span class="header-logo-col">Studio</span></a
      >

      <ul class="header-nav-list list">
        <li class="header-item">
          <a href="/" class="header-link link">Студія</a>
        </li>
        <li class="header-item">
          <a href="/./src/portfolio-page.html" class="header-link link"
            >Портфоліо</a
          >
        </li>
        <li class="header-item">
          <a href="" class="header-link link">Контакти</a>
        </li>
      </ul>
    </nav>

    <ul class="header-address list">
      <li class="header-address-item">
        <a
          href="malto:info@devstudio.com"
          class="header-address-link link-address-email link"
          >info@devstudio.com</a
        >
      </li>
      <li class="header-address-item">
        <a
          href="tel:+380961111111"
          class="header-address-link link-address-tel link"
          >+38 096 111 11 11</a
        >
      </li>
    </ul>
  </div>
</header>
<!-- Основной контент  -->
<main>
  <!-- Hero -->
  <section class="hero">
    <div class="container">
      <h1 class="hero-title">
        Ефективні рішення для <br />
        вашого бізнесу
      </h1>
      <button class="hero-btn">Замовити послугу</button>
    </div>

    <!-- <img src="/./src/images/Bg.jpeg" class="hero-bg" alt="bg" width="1600" /> -->
  </section>
  <!-- Особености -->
  <section class="features section">
    <div class="container">
      <h2 class="features-hidden-title">Особености</h2>

      <ul class="features-list">
        <li class="feature-itam list">
          <h3 class="features-title">Увага до деталей</h3>
          <p class="features-text">
            Ідейні міркування, і навіть початок повсякденної роботи з формування
            позиції.
          </p>
        </li>
        <li class="feature-itam list">
          <h3 class="features-title">Пунктуальність</h3>
          <p class="features-text">
            Завдання організації, особливо рамки і місце навчання кадрів тягне у
            себе.
          </p>
        </li>
        <li class="feature-itam list">
          <h3 class="features-title">Планування</h3>
          <p class="features-text">
            Так само консультація з широким активом значною мірою зумовлює.
          </p>
        </li>
        <li class="feature-itam list">
          <h3 class="features-title">Сучасні технології</h3>
          <p class="features-text">
            Значимість цих проблем настільки очевидна, що реалізація планових
            завдань.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <!-- Занятость -->
  <section class="employment section">
    <div class="container">
      <h2 class="employment-title">Чим ми займаємося</h2>
      <ul class="employment-list list">
        <li class="employment-itam">
          <img
            class="employment-img"
            src="/src/images/box3.jpeg"
            alt=""
            width="370"
          />
        </li>
        <li class="employment-itam">
          <img
            class="employment-img"
            src="/src/images/box1.jpeg"
            alt=""
            width="370"
          />
        </li>
        <li class="employment-itam">
          <img
            class="employment-img"
            src="/src/images/box2.jpeg"
            alt=""
            width="370"
          />
        </li>
      </ul>
    </div>
  </section>
  <!-- Наша команда -->
  <section class="team section">
    <div class="container">
      <h2 class="team-title">Наша команда</h2>

      <ul class="team-list list">
        <li class="team-item">
          <img
            class="team-img"
            src="/src/images/teem/img1.jpeg"
            alt="Фото Ігор Дем'яненко"
            width="270"
          />
          <h2 class="team-employee-name">Ігор Дем'яненко</h2>
          <p class="team-employee-position" lang="en">Product Designer</p>
        </li>

        <li class="team-item">
          <img
            class="team-img"
            src="/src/images/teem/img2.jpeg"
            alt="Фото Ольга Рєпіна"
            width="270"
          />
          <h2 class="team-employee-name">Ольга Рєпіна</h2>
          <p class="team-employee-position" lang="en">Frontend Developer</p>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="/src/images/teem/img3.jpeg"
            alt="Фото Микола Тарасов"
            width="270"
          />
          <h2 class="team-employee-name">Микола Тарасов</h2>
          <p class="team-employee-position" lang="en">Marketing</p>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="/src/images/teem/img4.jpeg"
            alt="Фото Михайло Єрмаков"
            width="270"
          />
          <h2 class="team-employee-name">Михайло Єрмаков</h2>
          <p class="team-employee-position" lang="en">UI Designer</p>
        </li>
      </ul>
    </div>
  </section>
</main>
<!-- Футер -->
<footer class="footer footer-section">
  <div class="container">
    <a href="/" class="footer-logo logo link"
      >Web<span class="footer-logo-col">Studio</span></a
    >
    <address class="footer-address">
      <ul class="footer-nav list">
        <li class="footer-item">
          <a
            href=""
            class="footer-link-physical-address footer-address-link link"
            >м. Київ, пр-т Лесі Українки, 26</a
          >
        </li>
        <li class="footer-item">
          <a href="malto:info@devstudio.com" class="footer-address-link link"
            >info@devstudio.com</a
          >
        </li>
        <li class="footer-item">
          <a href="tel:+380961111111" class="footer-address-link link"
            >+38 096 111 11 11</a
          >
        </li>
      </ul>
    </address>
  </div>
</footer>
