@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}

.footer-social-list__link, .footer-social-list, .header-address-list__link, .header-address-list, .header-nav {
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header-section {
  border-bottom: 1px solid #ECECEC;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
}

.header-nav__logo-color {
  color: #000000;
}

.header-main-nav {
  display: flex;
}

.header-nav-list {
  display: flex;
  margin-left: 93px;
}

.header-address-list {
  margin-left: auto;
}

.header-nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms var(--timing-function);
}
.header-nav-list__link:hover, .header-nav-list__link:focus {
  color: #2196f3;
}

.focus-nav {
  color: #2196f3;
}

.focus-nav::after,
.focus-nav-anim::after {
  position: absolute;
  content: "";
  background-color: #2196f3;
  display: block;
  border-radius: 2px;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
}

.focus-nav-anim::after {
  transform: scaleX(0);
  transition: transform 250ms var(--timing-function);
}

.focus-nav-anim:hover::after,
.focus-nav-anim:focus::after {
  transform: scaleX(1);
}

.header-address-list__item:not(:last-child) {
  margin-right: 30px;
}

.header-address-list__link {
  color: #757575;
  fill: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  transition: color 250ms var(--timing-function), fill 250ms var(--timing-function);
}
.header-address-list__link:hover, .header-address-list__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.header-address-list__icon-mail,
.header-address-list__icon-phone {
  margin-right: 10px;
}

.portfolio-nav-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-nav-list__itam:not(:last-child) {
  margin-right: 8px;
}

.portfolio-nav-list__btn {
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 75px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
  background: #f5f4fa;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.portfolio-nav-list__btn:hover, .portfolio-nav-list__btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.focus-btn {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-content-list {
  margin-right: -30px;
  margin-bottom: -30px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-content-list__item {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(33.3333333333% - 30px);
  transition: box-shadow 250ms var(--timing-function);
}
.portfolio-content-list__item:hover, .portfolio-content-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-content-list__dicor {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-content-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-content-list__text {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.portfolio-content-list__card-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-content-list__cards-wrapper-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 23px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}
.portfolio-content-list__item:hover .portfolio-content-list__cards-wrapper-text, .portfolio-content-list__item:focus .portfolio-content-list__cards-wrapper-text {
  transform: translateY(0);
}

.card {
  transition: 0.5s all;
}

.anime {
  transform: scale(0);
  opacity: 0;
}

.hide {
  animation-name: hide;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes hide {
  0% {
    visibility: visible;
    height: 200px;
  }
  100% {
    visibility: hidden;
    width: 0;
    height: 0;
    max-width: 0;
    font-size: 0;
    margin: 0;
  }
}
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer {
  background: #2f303a;
}

.footer__logo-color {
  color: #ffffff;
}

.footer-address {
  font-style: inherit;
}

.footer-address-list__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}

.footer-address-list__link-physical-address {
  display: block;
  margin-top: 20px;
  color: #ffffff;
}

.footer-address-list__item {
  margin-top: 9px;
}

.footer-social-section__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-social-section {
  margin-left: 70px;
  display: block;
}

.footer-social-list {
  width: 206px;
  height: 44px;
  justify-content: space-between;
}

.footer-social-list__item {
  width: 44px;
  height: 44px;
}

.footer-social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition: background 250ms var(--timing-function);
}
.footer-social-list__link:hover, .footer-social-list__link:focus {
  background: #2196f3;
}

.footer-social-list__icon {
  fill: #2196f3;
}

.footer-form-section {
  margin-left: 93px;
}

.footer-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-form__email {
  margin-top: 20px;
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 16px;
  border: none;
  outline: none;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}
.footer-form__email::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.footer-form__email:focus {
  border-color: #2196f3;
}

.footer-form__btn-submit {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: transform 100ms var(--timing-function);
}
.footer-form__btn-submit:active {
  transform: translate(0em, 0.1em);
}

.footer-form__btn-icon-decor {
  margin-left: 10px;
}

.footer-form__field {
  display: flex;
  align-items: baseline;
}/*# sourceMappingURL=portfolio.css.map */