        .header-section {
            // border-bottom: 1px solid #000;
            border-bottom: 1px solid #ECECEC;

            padding-top: 16px;
            padding-bottom: 16px;
        


            @media screen and (min-width: 768px) {
            
                    padding-top: 21px;
                    padding-bottom: 21px;
                }

        @media screen and (min-width: 1200px) {

                padding-top: 24px;
                    padding-bottom: 25px;
            }

            // position: relative;

        }


        .logo {

            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: (28 / 24);
            text-decoration: none;

            color: getColor('accent');


            @media screen and (min-width: 1200px) {

                font-size: 26px;
                line-height: (31 / 26);
            }

        }


        .header-nav__logo-color {
            color: #000000;
        }





        .header-main-nav {
            display: flex;
                justify-content: space-between;

            align-items: center;

            // @media screen and (max-width: 1199px) {
            //     justify-content: space-between;
            //     }
        }


        .header-nav {
            display: flex;

        }


        .header-nav-list {
            display: flex;

        @media screen and (min-width: 1200px) {
            margin-left: 93px;
            }

        }





        .header-nav-list__item:not(:last-child) {
            margin-right: 50px;
        }


        .header-nav-list__link {
        position: relative;
            // align-items: center;
            padding-top: 32px;
            padding-bottom: 32px;

            font-weight: 500;
            font-size: 14px;
            line-height: (16 / 14);
            letter-spacing: 0.02em;

            
            color: var(--primary-color);
            transition: color 250ms var(--timing-function);

            &:hover,
            &:focus {
                color: getColor('accent');

            }
        }


        .focus-nav {
            color: getColor('accent');
        }


        .focus-nav::after,
        .focus-nav-anim::after {
            position: absolute;
            content: '';
            background-color: getColor('accent');
            display: block;


            border-radius: 2px;
            bottom: -0.5px;

            width: 100%;
            height: 4px;

        }


        .focus-nav-anim::after {

            transform: scaleX(0);
            transition: transform 250ms var(--timing-function);
        }


        .focus-nav-anim:hover::after,
        .focus-nav-anim:focus::after {
            transform: scaleX(1);

        }


        .header-address-list__item:not(:last-child) {
            
            // align-items: center;
        margin-bottom: 10px;

        @media screen and (min-width: 1200px) {
        margin-right: 30px;
        margin-bottom: 0;

            }
        }


        .header-address-list {
        @media screen and (min-width: 1200px) {
                display: flex;
                    margin-left: auto;

            }

        }

        .header-address-list__link {
    display: flex;
    align-items: center;
        
            font-weight: 500;
            font-size: 12px;
            line-height: (14 / 12);
        letter-spacing: 0.02em;


        color: getColor('secondary');
            fill: getColor('secondary');
            transition: color 250ms var(--timing-function), fill 250ms var(--timing-function);


            @media screen and (min-width: 1200px) {
                    font-size: 14px;
                        line-height: (16 / 14);


                }

            &:hover,
            &:focus {
                color: getColor('accent');
                fill: getColor('accent');

            }


        }



        .header-address-list__icon-mail,
        .header-address-list__icon-phone {




            margin-right: 8px;

        }




        .header-nav, .header-address-list {
            @media screen and (max-width:767px) {
                display: none;
            }
            
        }


        .mob-menu-heder, .mobil-menu-btn-conteiner {
            @media screen and (min-width:768px) {
                    display: none;
                }
        }


        //? МОБИЛЬНОЕ МЕНЮ 
        .mob-menu-heder {
            overflow: hidden;
            position: fixed;
            width: 100vw;
            height: 100vh;


            padding: 60px 40px;

            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            z-index: 99999;
            background-color: #FFFFFF;


        transform: translateX(100%);

        transition: transform 250ms ease-in-out ;

        }

        .mob-menu-heder.is-open {
        transform: translateX(0);
        }



        .mob-menu-nav-list__link {
            margin-bottom: 32px;
            display: inline-block;

            font-weight: 500;
            font-size: 40px;
            line-height: (47 / 40);
            letter-spacing: 0.02em;


            color: getColor('primary');
            transition: color 250ms var(--timing-function);
            &:hover,
            &:focus {
                color: getColor('accent');
                fill: getColor('accent');

            }

        }



        .mob-menu-contacts-list {
            margin-bottom: 65px;


        }

        .mob-menu-contacts__link-phone {
            display: inline-block;
            margin-bottom: 32px;

            font-weight: 500;
            font-size: 34px;
            line-height: (40 / 34);
            letter-spacing: 0.02em;


            color: getColor('accent');
        }


        .mob-menu-contacts__link-mail {

            font-weight: 500;
            font-size: 24px;
            line-height: (28 / 24);
            letter-spacing: 0.02em;


            color: getColor('secondary');
            transition: color 250ms var(--timing-function);
            &:hover,
            &:focus {
                color: getColor('accent');
            }
        }

        .mob-menu-social-list {
            display: flex;
                flex-wrap: wrap;
                    justify-content: flex-start;

        
        }

        .mob-menu-social-list__item {

            padding-right: 10px;


            &:not(:last-child) {
                border-right: 1px solid rgba(33, 33, 33, 0.2);


            }

            &:not(:first-child) {

                padding-left: 10px;

            }
        }

        .mob-menu-social__link {
            font-weight: 500;
            font-size: 18px;
            line-height: (22 / 18);
            letter-spacing: 0.02em;

            color: getColor('accent');



        }


        .mobil-menu-btn-open{ 
            display: flex;
                margin: 0;
                margin-left: auto;
                padding: 0;
                border: none;
                background-color: transparent;

            right: 15px;
                top: 10px;

                @media screen and (min-width:768px) {
                        display: none;
                    }
        }

        .mob-menu-btn-close {
        display: inline-flex;
            margin: 0;
            padding: 0;
            border: none;
            background-color: transparent;


            position: absolute;
        right: 15px;
            top: 10px;

        transition: fill 250ms var(--timing-function);
            &:hover,
            &:focus { 
                fill: getColor('accent');
            }
        }



    .focus-nav-mob { 
        color: getColor('accent');

    }

.mob-menu-nav-list__item{
overflow: hidden;
}

    .focus-nav-mob::after, .focus-nav-mob-anim::after {
        content: '';


        display: block;
        width: 100%;
        height: 5px;

    border-radius: 2px;
    background-color: getColor('accent');
    }

    .focus-nav-mob-anim::after { 
        // transform: scaleX(0);
    transform: translateX(-100%);

            transition: transform 250ms var(--timing-function);
    }


    .focus-nav-mob-anim:hover:after {

    transform: translateX(0);


    }
