.portfolio-content-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.portfolio-content-itam {
    flex-basis: calc(100% / 3 - 30px);

    margin-right: 30px;
    margin-bottom: 30px;

    transition: box-shadow 250ms var(--timing-function);
}



.portfolio-content-itam:hover,
.portfolio-content-itam:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

// .portfolio-content-itam:nth-child(3n) {
//   margin-right: 0;
// }
// .portfolio-content-itam:nth-last-child(-n + 3) {
//   margin-bottom: 0;
// }

.portfolio-content-dicor {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    border: 1px solid #eeeeee;
    border-top: none;


}




.portfolio-content-title {
    color: var(--primary-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
}


.portfolio-content-text {


    color: var(--secondary-color);

    font-size: 16px;
    line-height: 1.87;
}




.portfolio-card-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-text-cards {
    position: absolute;


    padding: 63px 23px;

    top: 0;
    left: 0;
    height: 100%;
    transform: translateY(100%);

    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;

    transition: transform 250ms var(--timing-function);


    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);

}

.portfolio-content-itam:hover .portfolio-text-cards,
.portfolio-content-itam:focus .portfolio-text-cards {
    transform: translateY(0);
}


//  ! фильтрация карточек по кнопкам 


.card {

    transition: 0.5s all;
}


.anime {
    transform: scale(0);
    opacity: 0;
}

.hide {
    animation-name: hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes hide {
    0% {
        visibility: visible;
        height: 200px;
    }

    100% {
        visibility: hidden;
        width: 0;
        height: 0;
        max-width: 0;
        font-size: 0;
        margin: 0;
    }
}



@each $test in dog,
cat,
pig {
    .test__#{$test} {
        background-color: #188CE8;
        color: #00ff1a;

    }

}